{{ 'about-banner-section.css' | asset_url | stylesheet_tag }}

{% style %}
   .about_banner_section .about_img_text_wrap{
     background-image: url('{{ section.settings.image | img_url : 'master' }}');
   }
  @media screen and (max-width:768px){
  .about_banner_section .about_img_text_wrap{
     background-image: url('{{ section.settings.mobile_image | img_url : 'master' }}');
    background-position: bottom;
  }
  }
{% endstyle %}

<div class="about_banner_section">
  <div class="about_container">
    <div class="about_img_text_wrap" style="">
      <div class="page-width">
        <div class="about-text-wrp">
          {% if section.settings.title != blank %}
            {% if section.settings.use_h1 %}
              <h1 class="main_title" style="color:{{ section.settings.title_color }}">{{ section.settings.title }}</h1>
            {% else %}
              <h2 class="main_title" style="color:{{ section.settings.title_color }}">{{ section.settings.title }}</h2>
            {% endif %}
          {% endif %}
          {% if section.settings['about-content'] != blank %}
            <div class="about-text-content" style="color:{{ section.settings.content_color }}">
              {{ section.settings['about-content'] }}
            </div>
          {% endif %}
          <div class="about-btn-wrp">
            {%- if section.settings.button_link != blank or section.settings.button_label != blank -%}
              <a href="{{ section.settings.button_link }}" class="common_btn">
                <span>{{ section.settings.button_label | escape }}</span>
              </a>
            {%- endif -%}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "About Banner Section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Mobile Image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "A UNIVERSE"
    },
    {
      "type": "checkbox",
      "id": "use_h1",
      "label": "Use h1 tag",
      "default": false
    },
    {
      "type": "color",
      "id": "title_color",
      "label": "Title Color",
      "default": "#000000"
    },
    {
      "type": "richtext",
      "id": "about-content",
      "label": "Content",
      "default": "<p>Hands-free, bite-free, first-of-its-kind, FDA 510(k)-cleared, this lip-plumping, wrinkle-reducing Superhero combination of Red, Amber, Deep Red and Near Infrared light device fights the breakdown of collagen and delivers hygienic, precise and zoned skincare.</p>"
    },
    {
      "type": "color",
      "id": "content_color",
      "label": "Content Color",
      "default": "#000000"
    },
    {
      "type": "text",
      "id": "button_label",
      "default": "Shop now",
      "label": "t:sections.image-carousel.settings.button_label.label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "t:sections.image-carousel.settings.button_link.label"
    }
  ],
  "presets": [
    {
      "name": "About Banner Section"
    }
  ]
}
{% endschema %}
