{% style %}
 
.affiliate_text_section .main_title{font-size: 26px;margin-bottom: 58px;}

.affiliate_text_section .icon_text_wrp{display: flex;flex-wrap: wrap;justify-content: center;align-items: center;gap: 30px;}
.affiliate_text_section .icon_text_block{width: calc(20% - 24px);text-align:center;display:flex;flex-direction: column;gap:24px;}
.affiliate_text_section .icon_text_block .icon-block img{width:100%;max-width: 80px;} 

.affiliate_text_section .icons__text-wrapper h4{color: #828282;font-weight: 300;font-size: 14px;line-height: 1.4;text-transform: uppercase;text-align: center;font-family: var(--argentum);letter-spacing: .1px;margin: auto;}

@media screen and (max-width: 1199px){
  .affiliate_text_section .icon_text_wrp{gap: 20px;}
  .affiliate_text_section .icon_text_block{width: calc(20% - 16px);}

  .affiliate_text_section .icons__text-wrapper h4{font-size:13px;}
}

@media screen and (max-width: 991px){
  .affiliate_text_section .main_title{margin-bottom: 48px}
  .affiliate_text_section .icon_text_block{width: calc(33.33% - 13.33px);}
} 


@media screen and (max-width: 767px){
  .affiliate_text_section .main_title{max-width: 310px;margin: 0 auto 40px;}
  
  .affiliate_text_section .icon_text_block{gap:15px;}
  .affiliate_text_section .icon_text_block .icon-block img{max-width:70px;}

  .affiliate_text_section .icons__text-wrapper h4{font-size:12px;}
  
} 

@media screen and (max-width: 575px){
  .affiliate_text_section .icon_text_wrp{gap: 20px;row-gap: 16px;}
  .affiliate_text_section .icon_text_block{gap:5px;width: auto;}
  .affiliate_text_section .icon_text_block .icon-block img{max-width:40px;}
  .affiliate_text_section .icons__text-wrapper h4{font-size:10px;}
}  
    
  
  
{% endstyle %}

{% assign textColor = section.settings.textcolor %}
{% assign paddTop = section.settings.paddTop %}
{% assign padBottom = section.settings.padBottom %}
<div class="section_{{ section.id }} affiliate_text_section {% if paddTop == true and padBottom == true %} pt_90 pb_90 {% elsif padBottom == true %}pb_90 {% elsif paddTop == true %}pt_90{% endif %} {{ section.settings.customClass }}" style="background:{{ section.settings.bgcolor }}">
  <div class="page-width">
   <div class="icon_text_section_title">
      <h2 class="main_title">{{ section.settings.title }}</h2>
    </div>
   <div class="icon_text_wrp">
        {% for block in section.blocks %}
          <div class="icon_text_block">
            {% if block.settings.custom_icon != blank %}
              <div class="icon-block">
                 <img src="{{ block.settings.custom_icon | img_url:'master' }}" alt="" loading="lazy">
              </div>
            {% endif %}
            <div class="icons__text-wrapper">
              {%- if block.settings.title != blank -%}
                <h4 class="title_text" stye="color: {{ textColor }};">{{ block.settings.title }}</h4>
              {%- endif -%}
            </div>
          </div>
        {% endfor %}
      </div>
  </div>
</div>  
{% schema %}
  {
    "name": "Affiliate Icon Section",
    "settings": [
      {
        "type":"color",
        "id":"bgcolor",
        "label":"Add Background Color",
        "default":"#fff"
      },
      {
        "type":"color",
        "id":"textcolor",
        "label":"Add Text Color",
        "default":"#828282"
      },
      {
        "type":"checkbox",
        "id":"paddTop",
        "label":"Padding Top",
        "default":false
      },
      {
        "type":"checkbox",
        "id":"padBottom",
        "label":"Padding Bottom",
        "default":true
      },
      {
        "type":"text",
        "id":"customClass",
        "label":"Add Custom Class"
      },
      {
        "type":"html",
        "id":"title",
        "label":"Title"
      }
    ],
    "blocks": [
      {
        "type": "item",
        "name": "Text with icon",
        "settings": [
          {
            "type": "image_picker",
            "id": "custom_icon",
            "label": "Icon"
          },
          {
            "type": "html",
            "id": "title",
            "label": "Heading",
            "default": "DELIVERED FRESH TO YOU"
          }
        ]
      }
    ],
    "presets": [
      {
         "name": "Affiliate Icon Section",
      }
    ]
  }
{% endschema %}