{% style %}

  .afiliate-join-wrp{text-align: center;display: flex;flex-direction: column;gap: 30px;}
  
  .afiliate-join-wrp .subtitle{margin:0;font-family: var(--argentum);font-size: 14px;line-height:normal;color: #696969;}
  .afiliate-join-wrp .affiliate-content {font-size: 18px;line-height: normal;color: #000;}

  .afiliate-join-wrp .common_btn{min-width: 311px;}


  @media screen and (max-width: 575px){
    .afiliate-join-wrp .common_btn{min-width: 200px;}
  }
  
{% endstyle %}

<div class="afiliate-join-section pt_90 pb_90" style="background:{{ section.settings.back_color }}">
  <div class="container">
    <div class="afiliate-join-wrp">
      {% if section.settings.title != blank %}
       <div class="subtitle">{{ section.settings.title }}</div>
      {% endif %} 
      {% if section.settings.content != blank %}
       <div class="affiliate-content">{{ section.settings.content }}</div>
      {% endif %} 
      {% if section.settings.url != blank or section.settings.url != blank %} 
        <div class="product_list_button"> 
         <a href="{{ section.settings.url }}" rel="nofollow" class="common_btn">{{ section.settings.btn_text }}</a>
        </div>
      {% endif %} 
         <div class="join-link-wrp">
          {% if section.settings.terms_link != blank %}
          <a class="join-link-terms" href="{{ section.settings.terms_link }}">{{ section.settings.terms_name }}</a>  
          {% endif %}
          and
          {% if section.settings.privacy_link != blank %}
          <a class="join-privacy-name" href="{{ section.settings.privacy_link }}">{{ section.settings.privacy_name }}</a>  
          {% endif %}
        </div>
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Affiliate Join Now",
    "settings": [
      {
        "type": "color",
        "id" : "back_color",
        "label": "Background"
      },
      {
        "type": "text",
        "id" : "title",
        "label": "Title"
      },
      {
        "type": "html",
        "id" : "content",
        "label": "Content"
      },
      {
        "type": "text",
        "id" : "btn_text",
        "label": "Button "
      },
      {
        "type": "url",
        "id" : "url",
        "label": "Url"
      },
      {
        "type": "text",
        "id": "terms_name",
        "label": "Terms Text"
       }, 
       {
        "type": "url",
        "id": "terms_link",
        "label": "Terms link"
       },
       {
        "type": "text",
        "id": "privacy_name",
        "label": "Privacy Text"
       },
       {
        "type": "url",
        "id": "privacy_link",
        "label": "Privacy link"
       }
    ],
    "presets": [
      {
       "name": "Affiliate Join Now", 
      }
    ]
  }
{% endschema %}