<div
  class="announcement-bar announcement-bar-{% if section.settings.color_scheme == '1' %}1{% endif %}{% if section.settings.color_scheme == '2' %}2{% endif %}"
  role="region"
  aria-label="{{ 'sections.header.announcement' | t }}"
  {{ block.shopify_attributes }}
>
  <div class="swiper announcement_Swiper">
    <div class="swiper-wrapper">
      {% for block in section.blocks %}
        {%- if block.settings.text != blank -%}
          {% comment %} <a href="{{ block.settings.url }}" class="swiper-slide announcement-bar__message"> {% endcomment %}
            {% comment %} <div class="swiper-slide announcement-bar__message"> {% endcomment %}
            {% comment %}
              {%- if block.settings.image != blank -%}
              	<figure class="announcement-bar__image">
              		<img srcset="{%- if block.settings.image.width >= 25 -%}{{ block.settings.image | img_url: '25x' }} 25w,{%- endif -%}
              				{%- if block.settings.image.width >= 50 -%}{{ block.settings.image | img_url: '50x' }} 50w,{%- endif -%}
              				{%- if block.settings.image.width >= 75 -%}{{ block.settings.image | img_url: '75x' }} 75w,{%- endif -%}"
              				 src="{{ block.settings.image | img_url: '75x' }}"
              				 alt="{{ block.settings.image.alt | escape }}"
              				 loading="lazy"
              				 width="{{ block.settings.image.width }}"
              				 height="{{ block.settings.image.height }}"
              		>

              	</figure>
              {%- endif -%}
            {% endcomment %}
            {% comment %} <span class="announcement-bar__text">{{ block.settings.text }}</span> {% endcomment %}
            {% comment %} </div> {% endcomment %}
          {% comment %} </a> {% endcomment %}

          {% if block.settings.url != blank %}
            <a href="{{ block.settings.url }}" class="swiper-slide announcement-bar__message">
              <span class="announcement-bar__text">{{ block.settings.text }}</span>
            </a>
          {% else %}
            <div class="swiper-slide announcement-bar__message">
              {% comment %}
                {%- if block.settings.image != blank -%}
                	<figure class="announcement-bar__image">
                		<img srcset="{%- if block.settings.image.width >= 25 -%}{{ block.settings.image | img_url: '25x' }} 25w,{%- endif -%}
                				{%- if block.settings.image.width >= 50 -%}{{ block.settings.image | img_url: '50x' }} 50w,{%- endif -%}
                				{%- if block.settings.image.width >= 75 -%}{{ block.settings.image | img_url: '75x' }} 75w,{%- endif -%}"
                				 src="{{ block.settings.image | img_url: '75x' }}"
                				 alt="{{ block.settings.image.alt | escape }}"
                				 loading="lazy"
                				 width="{{ block.settings.image.width }}"
                				 height="{{ block.settings.image.height }}"
                		>

                	</figure>
                {%- endif -%}
              {% endcomment %}
              <span class="announcement-bar__text">{{ block.settings.text }}</span>
            </div>
          {% endif %}
        {%- endif -%}
      {% endfor %}
    </div>
  </div>
</div>

<script>
  var swiper = new Swiper('.announcement_Swiper', {
    slidesPerView: 1,
    loop: true,
    autoplay: {
      delay: 5000,
    },
  });
</script>

{% schema %}
{
  "name": "t:sections.announcement-bar.name",
  "class": "section-announcement",
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "default": "1",
      "label": "t:sections.announcement-bar.settings.color_scheme.label",
      "options": [
        {
          "value": "1",
          "label": "t:sections.announcement-bar.settings.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.announcement-bar.settings.options__2.label"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "block",
      "name": "Text Block",
      "settings": [
        {
          "type": "html",
          "default": "For example, a test of the announcement of some news",
          "id": "text",
          "label": "t:sections.announcement-bar.settings.text.label"
        },
        {
          "type": "url",
          "id": "url",
          "label": "link"
        }
      ]
    }
  ]
}
{% endschema %}
