 {{ 'blog-slider-section.css' | asset_url | stylesheet_tag }}
<section id="section_{{ section.id }}" class="blog-slider-section pb_90 pt_90">
  <div class="page-width">
    {% if section.settings.title != blank %}
      <h2 class="main_title">{{ section.settings.title }}</h2>
    {% endif %}
    <div claas="blog-slider-wrp">
      <div class="blog-slider-block swiper-container">
         <div class="swiper-wrapper">
            {% for article in section.settings.blog.articles limit: section.settings.post_limit %}
             <div class="swiper-slide">
               <div class="article-wrp">
                 <figure>
                   <img src="{{ article.image | img_url : "master" }}" alt="{{ article.image.alt }}" loading="lazy">
                 </figure>
                 <div class="article-text-wrp">
                   <span>{{- article.published_at | time_tag: '%B %d, %Y' -}}</span>
                   <figcaption>
                     <a href="{{ article.url }}">{{ article.title | escape }}</a>
                   </figcaption>
                 </div>
               </div>
             </div>
             {% endfor %}
         </div>
        <div class="blog_result_dot">
        <div class="swiper-pagination"></div>
        </div>  
      </div>
    </div>
  </div>
</section>

<script>
  var swiper = new Swiper("#section_{{ section.id }} .blog-slider-block", {
    slidesPerView: 1.3,
    spaceBetween: 10,
    grabCursor: true,
    loop: true,
    breakpoints: {
      400: {
        slidesPerView: 1.2,
        spaceBetween: 16
      },
      700: {
        slidesPerView: 2.2,
        spaceBetween: 16
      },
      992: {
        slidesPerView: 3,
        spaceBetween: 0
      },
    },
     pagination: {
      el: ".blog_result_dot .swiper-pagination",
      clickable: true
    },
  });
</script>



{% schema %}
  {
    "name": "Blog Slider Section",
    "settings": [
      {
        "type":"text",
        "id":"title",
        "label":"Heading"
      },
      {
        "type": "blog",
        "id": "blog",
        "label": "Blog"
      },
      {
        "type": "range",
        "id": "post_limit",
        "min": 1,
        "max": 4,
        "step": 1,
        "default": 4,
        "label": "t:sections.featured-blog.settings.post_limit.label"
      },
      {
        "type": "checkbox",
        "id": "show_image",
        "default": true,
        "label": "t:sections.featured-blog.settings.show_image.label",
        "info": "t:sections.featured-blog.settings.show_image.info"
      },
      {
        "type": "checkbox",
        "id": "show_date",
        "default": true,
        "label": "t:sections.featured-blog.settings.show_date.label"
      }
    ],
    "presets": [
      {
        "name": "Blog Slider Section",
      }
    ]
  }
{% endschema %}