{{ 'clinical-studie-section.css' | asset_url | stylesheet_tag }}

<section class="clinical-studie-section pt_90 pb_90">
  <div class="page-width">
    {% if section.settings.title != blank %}
      <h1 class="main_title">{{ section.settings.title }}</h1>
    {% endif %}
    
    <div class="clinical_studie_block">
      {% for block in section.blocks %}
        <div class="clinical_studie_row">
                <a class="clinical_studie_row_wrp" href="{{ block.settings.read_more_link }}" target="_blank" style="text-decoration: none;">
        {% if block.settings.text != blank %}
          <span>{{ block.settings.text }}</span>
        {% endif %}  
        {% if block.settings.title != blank %}
          <h2 class="clinical_studie_row_title">{{ block.settings.title }}</h2>
       {% endif %}
        {% if block.settings.content != blank %}
        <div class="clinical_studie_row_content">{{ block.settings.content }}</div>
        {% endif %}  
        <div class="clinical_studie_row_read">
          {% if block.settings.read_more_link != blank %}
          <a href="{{ block.settings.read_more_link }}" target="_blank">
            {{ block.settings.read_text }}
            <svg xmlns="http://www.w3.org/2000/svg" width="7" height="7" viewBox="0 0 7 7" fill="none">
              <path d="M0.49 3.996V2.932H2.968V0.467999H4.018V2.932H6.482V3.996H4.018V6.46H2.968V3.996H0.49Z" fill="#828282"/></path>
            </svg>
          </a>
          {% endif %} 
        </div>
        </a> 
      </div>
      {% endfor %}
    </div>
    
  </div>
</section>


{% schema %}
  {
    "name": "Clinical Studie Section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "CLINICAL STUDIES "
      },
    ],
    "blocks": [
      {
        "type":"block",
        "name":"Block",
        "settings": [
          {
            "type": "text",
            "id": "text",
            "label": "Text"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "Content"
          },
          {
            "type": "text",
            "id": "read_text",
            "label": "Content",
            "default": "Read more"
          },
          {
            "type": "url",
            "id": "read_more_link",
            "label": "Read More link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Clinical Studie Section",
      }
    ]
  }
{% endschema %}