{{ 'section-collapsible-content.css' | asset_url | stylesheet_tag }}

<script src="{{ 'collapsible-content.js' | asset_url }}" defer="defer"></script>

{%- style -%}
	.section-{{ section.id }}-padding {
		padding-top: {{ section.settings.padding_top | times: 0.25 | round: 0 }}px;
		padding-bottom: {{ section.settings.padding_bottom | times: 0.25 | round: 0 }}px;
	}

	@media screen and (min-width: 990px) {
		.section-{{ section.id }}-padding {
			padding-top: {{ section.settings.padding_top }}px;
			padding-bottom: {{ section.settings.padding_bottom }}px;
		}
	}
{%- endstyle -%}

<div class="collapsible-content section-{{ section.id }}-padding">
	<div class="container {% if section.settings.show_line_separator %}collapsible-content__separator{% endif %} {% if section.settings.padding_top == true %}pt_90{% endif %} {% if section.settings.padding_bottom == true %}pb_90{% endif %} ">
		<div class="collapsible-content__top">
			{%- if section.settings.heading != blank -%}
				<h2 class="main_title">
					{{ section.settings.heading }}
				</h2>
			{%- endif -%}

			{%- if section.settings.text != blank -%}
				<div class="collapsible-content__text">
					{{ section.settings.text | escape }}
				</div>
			{%- endif -%}
		</div>

		<div class="collapsible-content__items">
			{%- for block in section.blocks -%}
				<div class="collapsible-content__item {% comment %}{% if forloop.index == 1 %} active{% endif %}{% endcomment %}" {{ block.shopify_attributes }}>
					<div class="collapsible-content__toggle">
						<div class="collapsible-content__toggle-group">
                          {% comment %}
							<div class="collapsible-content__digit">{{ forloop.index }}</div>
              {% endcomment %}
							{%- if block.settings.question != blank -%}
								<h5 class="collapsible-content__question">{{ block.settings.question | escape }}</h5>
							{%- endif -%}
						</div>
						<div class="collapsible-content__icon">
							{%- render 'icon-button-arrow' -%}
						</div>
					</div>

					{%- if block.settings.answer != blank -%}
						<div class="collapsible-content__answer" {% comment %}{% if forloop.index == 1 %} style="display: block;" {% endif %}{% endcomment %}>
							<div class="collapsible-content__answer-inner">{{ block.settings.answer }}</div>
						</div>
					{%- endif -%}
				</div>
			{%- endfor -%}
		</div>
       {% if section.settings.botton-text != blank %} 
        <div class="collapsible-bottom-content pt_50">
          <h3>{{ section.settings.botton-text }}</h3>
          <div class="bt-content">{{ section.settings.bottom-content }}</div>
        </div>
      {% endif %}

	  {% if section.settings.button_url != blank %}
		<div class="collapsible_btn_wrp">
			<a href="{{ section.settings.button_url }}" class="common_btn">{{ section.settings.button_text }}</a>
		</div>
	  {% endif %}

	</div>
</div>

{% schema %}
{
	"name": "t:sections.collapsible-content.name",
	"tag": "section",
	"enabled_on": {
		"templates": [
			"*"
		]
	},
	"blocks": [
		{
			"type": "accordion",
			"name": "t:sections.collapsible-content.blocks.accordion.name",
			"limit": 20,
			"settings": [
				{
					"type": "text",
					"id": "question",
					"default": "Some title",
					"label": "t:sections.collapsible-content.settings.heading.label"
				},
				{
					"type": "richtext",
					"id": "answer",
					"default": "<p>Some description</p>",
					"label": "t:sections.collapsible-content.settings.text.label"
				}
			]
		}
	],
	"settings": [
        {
          "type": "checkbox",
          "id": "padding_top",
          "label": "Padding Top",
        },
        {
         "type": "checkbox",
         "id": "padding_bottom",
         "label": "Padding Bottom",
          "default": true
        },
		{
			"type": "text",
			"id": "heading",
			"default": "Some header",
			"label": "t:sections.collapsible-content.settings.heading.label"
		},
		{
			"type": "textarea",
			"id": "text",
			"default": "Some description.",
			"label": "t:sections.collapsible-content.settings.text.label"
		},
		{
			"type": "checkbox",
			"id": "show_line_separator",
			"default": true,
			"label": "t:sections.collapsible-content.settings.show_line_separator.label"
		},
        {
			"type": "text",
			"id": "botton-text",
			"label": "Title"
		},
        {
			"type": "richtext",
			"id": "bottom-content",
			"label": "Content"
		},
		{
			"type": "text",
			"id": "button_text",
			"label": "Button Text",
		},
        {
			"type": "url",
			"id": "button_url",
			"label": "Button Url"
		}
	],
	"presets": [
		{
			"name": "t:sections.collapsible-content.name",
			"blocks": [
				{
					"type": "accordion"
				},
				{
					"type": "accordion"
				},
				{
					"type": "accordion"
				}
			]
		}
	]
}
{% endschema %}