{% schema %}
{
  "name": "Compare table",
  "settings": [
    {
      "type": "html",
      "id": "heading",
      "label": "Heading (H2)",
      "default": "EXSOME SERUM VS. TYPICAL SERUM"
    },
    {
      "type": "text",
      "id": "column-one-heading",
      "label": "Column one heading"
    },
    {
      "type": "text",
      "id": "column-second-heading",
      "label": "Column second heading"
    },
    {
      "type": "text",
      "id": "column-third-heading",
      "label": "Column third heading"
    },
    {
      "type": "text",
      "id": "btn_text",
      "label": "Button Text",
      "default": "EXPLORE EXOSOME SERUM NOW"
    },
    {
      "type": "url",
      "id": "btn_url",
      "label": "Button Url"
    }
  ],
  "blocks": [
    {
      "type": "row",
      "name": "Table Row",
      "settings": [
        {
          "type": "text",
          "id": "feature",
          "label": "Feature"
        },
        {
          "type": "textarea",
          "id": "exosome",
          "label": "Exosome Serum Value"
        },
        {
          "type": "textarea",
          "id": "typical",
          "label": "Typical Serum Value"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Compare table"
    }
  ]
}
{% endschema %}

<div class="exosome-table-section">
  <div class="table-container">
    <h2 class="main_title">{{ section.settings.heading }}</h2>
    <div class="table">
      <table class="border-collapse">
        <thead>
          <tr class="table-row">
            <th class="column-heading">{{section.settings.column-one-heading}}</th>
            <th class="column-heading">{{section.settings.column-second-heading}}</th>
            <th class="column-heading">{{section.settings.column-third-heading}}</th>
          </tr>
        </thead>
        <tbody>
          {% for block in section.blocks %}
            <tr class="table-row">
              <td class="row-heading">{{ block.settings.feature }}</td>
              <td class="column-one-detail detail">
                <div class="value">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                    <path d="M10.0001 20C4.48612 20 0 15.5145 0 9.9999C0 4.48529 4.48612 0 10.0001 0C15.5141 0 20.0002 4.48529 20.0002 9.9999C20.0002 15.5145 15.5141 19.9998 10.0001 19.9998V20ZM10.0001 0.149483C4.56878 0.149483 0.150492 4.56836 0.150492 9.9999C0.150492 15.4314 4.56878 19.8503 10.0001 19.8503C15.4314 19.8503 19.8497 15.4314 19.8497 9.9999C19.8497 4.56836 15.4314 0.149483 10.0001 0.149483Z" fill="black"/>
                    <path d="M8.32732 14.0896L4.16797 9.93006L4.84346 9.25455L8.32732 12.7385L15.1553 5.91028L15.8308 6.586L8.32732 14.0896Z" fill="black"/>
                  </svg>
                  <p>{{ block.settings.exosome }}</p>
                </div>
              </td>
              <td class="column-two-detail detail">
                <p>{{ block.settings.typical }}</p>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    {% if section.settings.btn_url != blank %}
      <div class="exosome-table_btn_wrp">
        <a href="{{ section.settings.btn_url }}" class="common_btn">{{ section.settings.btn_text }}</a>
      </div>
    {% endif %}

  </div>
</div>

<style>
.exosome-table-section {
	 padding: 48px 0;
}
 .exosome-table-section .table-container {
	 max-width: 1100px;
	 padding: 0 16px;
	 margin: 0 auto;
}
 .exosome-table-section .table-container .main_title {
	 margin-bottom: 48px;
	 text-transform: uppercase;
}

.exosome-table-section .table-container .main_title br{
  display: none;
}

 .exosome-table-section .table-container .table .border-collapse {
	 width: 100%;
	 border-collapse: collapse;
}
 .exosome-table-section .table-container .table .border-collapse th, .exosome-table-section .table-container .table .border-collapse td {
	 padding: 26px;
	 border: 1px solid #bdbdbd;
	 vertical-align: middle;
}
 .exosome-table-section .table-container .table .border-collapse th:nth-child(1), .exosome-table-section .table-container .table .border-collapse td:nth-child(1) {
	 text-align: center;
}
 .exosome-table-section .table-container .table .border-collapse th {
	 font-weight: 700;
	 background: #f2f2f2;
}
 .exosome-table-section .table-container .table .border-collapse thead .table-row .column-heading {
	 color: #000;
	 font-weight: 700;
	 font-size: 24px;
	 line-height: normal;
	 text-transform: capitalize;
}
 .exosome-table-section .table-container .table .border-collapse tbody .table-row .detail {
	 font-weight: 500;
	 font-size: 18px;
	 line-height: normal;
	 color: #828282;
}
 .exosome-table-section .table-container .table .border-collapse tbody .table-row .detail svg {
	 flex-shrink: 0;
}
 .exosome-table-section .table-container .table .border-collapse tbody .table-row .detail p {
	 margin: 0;
	 max-width: 355px;
}
 .exosome-table-section .table-container .table .border-collapse tbody .table-row .row-heading {
	 font-weight: 300;
	 font-size: 18px;
	 line-height: normal;
	 text-transform: uppercase;
	 color: #000;
	 font-family: var(--argentum);
}
 .exosome-table-section .table-container .table .border-collapse tbody .table-row .column-one-detail {
	 color: #000;
}
 .exosome-table-section .table-container .table .border-collapse tbody .table-row .column-one-detail .value {
	 display: flex;
	 align-items: center;
	 gap: 16px;
	 max-width: 355px;
}

.exosome-table_btn_wrp{text-align: center;padding-top: 36px;}

.exosome-table_btn_wrp .common_btn{min-width: unset;max-width: 400px;width: 100%;}

 @media (max-width: 767px) {
	 .exosome-table-section {
		 padding: 28px 0;
	}
	 .exosome-table-section .table-container .main_title {
		 font-size: 30px;
     margin-bottom: 16px;
	}

  .exosome-table-section .table-container .main_title br{
    display: block;
  }

	 .exosome-table-section .table-container .table .border-collapse th, .exosome-table-section .table-container .table .border-collapse td {
		 padding: 24px 10px;
	}
	 .exosome-table-section .table-container .table .border-collapse td {
		 vertical-align: bottom;
	}
	 .exosome-table-section .table-container .table .border-collapse thead .table-row .column-heading {
		 font-size: 18px;
	}
	 .exosome-table-section .table-container .table .border-collapse tbody .table-row {
		 margin-bottom: 20px;
		 border: 1px solid #eee;
		 padding: 10px;
		 border-radius: 10px;
	}
	 .exosome-table-section .table-container .table .border-collapse tbody .table-row .detail {
		 font-size: 16px;
	}
	 .exosome-table-section .table-container .table .border-collapse tbody .table-row .row-heading {
		 font-size: 14px;
		 text-align: start;
	}

   .exosome-table-section .table-container .table .border-collapse tbody .table-row .row-heading,
	 .exosome-table-section .table-container .table .border-collapse tbody .table-row .column-one-detail,
   .exosome-table-section .table-container .table .border-collapse tbody .table-row .column-two-detail{
		 padding: 16px 10px;
	}
	 .exosome-table-section .table-container .table .border-collapse tbody .table-row .column-one-detail .value {
		 flex-direction: column;
		 align-items: start;
	}
}
 @media (max-width: 375px) {
	
	 .exosome-table-section .table-container .table {
		 overflow-x: auto;
	}
	 .exosome-table-section .table-container .table .border-collapse {
		 width: 398px;
	}
}
 

.exosome-table-section table.border-collapse tbody tr.table-row:nth-child(1) 
td.column-one-detail:nth-child(2) p {
  max-width: 300px;
}
.exosome-table-section table.border-collapse tbody tr.table-row:nth-child(1)
td.column-two-detail:nth-child(3) p {
max-width: 253px;
}
.exosome-table-section table.border-collapse tbody tr.table-row:nth-child(2) 
td.column-one-detail:nth-child(2) p {
      max-width: 280px;
}
.exosome-table-section table.border-collapse tbody tr.table-row:nth-child(2)
td.column-two-detail:nth-child(3) p {
max-width: 253px;
}
.exosome-table-section table.border-collapse tbody tr.table-row:nth-child(3) 
td.column-one-detail:nth-child(2) p {
      max-width: 280px;
}
.exosome-table-section table.border-collapse tbody tr.table-row:nth-child(3)
td.column-two-detail:nth-child(3) p {
    max-width: 317px;
}

.exosome-table-section table.border-collapse tbody tr.table-row:nth-child(4) 
td.column-one-detail:nth-child(2) p {
  max-width: 300px;
}
.exosome-table-section table.border-collapse tbody tr.table-row:nth-child(4)
td.column-two-detail:nth-child(3) p {
max-width: 253px;
}
.exosome-table-section table.border-collapse tbody tr.table-row:nth-child(5) 
td.column-one-detail:nth-child(2) p {
  max-width: 300px;
}
.exosome-table-section table.border-collapse tbody tr.table-row:nth-child(5)
td.column-two-detail:nth-child(3) p {
max-width: 253px;
}
</style>
