{% if product.handle != 'sculpt-and-lift-facial-transformation-kit'
  and product.handle != 'stickers-for-red-light-devices'
%}
  {{ 'cosmoprof-awards.css' | asset_url | stylesheet_tag }}

  <section class="cosmoprof-awards-section pb_90">
    <div class="page-width">
      {% if section.settings.title != blank %}
        <h2 class="main_title">{{ section.settings.title }}</h2>
      {% endif %}
      <div class="cosmoprof-awards-block">
        {% for block in section.blocks %}
          {% if block.settings.image != blank %}
            <figure class="cosmoprof-awards-row">
              <img
                src="{{ block.settings.image | image_url: width: 149, format: 'webp' }}"
                srcset="
                  {{ block.settings.image | image_url: width: 149 , format: 'webp' }} 1x,
                  {{ block.settings.image | image_url: width: 298 , format: 'webp' }} 2x
                "
                alt="{{ block.settings.image.alt }}"
                loading="lazy"
              />
            </figure>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </section>
{% endif %}
{% schema %}
{
  "name": "Cosmoprof Award Section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "COSMOPROF AWARDS"
    }
  ],
  "blocks": [
    {
      "type": "block",
      "name": "Image Row",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Cosmoprof Award Section"
    }
  ]
}
{% endschema %}
