{%- if section.settings.title != blank -%}
{% style %}
.faq-collapsible-content{background:#FAFAFA;max-width:1330px;margin:0 auto;padding-bottom: 60px;}

.faq-collapsible-content .faq-coll-content-wrp{display:flex;flex-wrap:wrap;}
.faq-collapsible-content .faq-text-block{width:55%;padding: 130px 15px;}

.faq-collapsible-content .faq-image-block{width:45%;}
.faq-collapsible-content .faq-image-block .faq-img-bl{background-repeat: no-repeat;background-size: cover;height: 100%;width: 100%;vertical-align:middle;}
.faq-collapsible-content .faq-image-block .faq-img-bl img{display:none;}

.faq-collapsible-content__separator {border-top: 0.1rem solid rgba(0, 0, 0, 0.2);padding-top: 4rem;}
.faq-collapsible-content__top {max-width: 100%;margin-bottom:64px;}
.faq-collapsible-content__heading {margin: 0;margin-bottom: 16px;font-size: 42px;
    text-align: start;
    max-width: 380px;
    line-height:1.1;
  }
.faq-collapsible-content__text {font-size: 20px;line-height: normal;text-align: center;}
.faq-collapsible-content__text p{margin:0 auto;max-width:370px;color:#000;}
.faq-collapsible-content__items {margin-top: 2rem;max-width: 620px;}
  
.faq-collapsible-content__item {border-bottom: 0.5px solid #BDBDBD;}
.faq-collapsible-content__item:first-child {border-top: 0.1rem solid #fff;}
.faq-collapsible-content__item:hover .faq-collapsible-content__question {opacity: 0.7;}
.faq-collapsible-content__item.active .faq-collapsible-content__icon svg {transform: rotate(270deg);color:#CA003D;}
.faq-collapsible-content__item .faq-collapsible-content__icon svg path{fill:#000;}
.faq-collapsible-content__toggle {display: flex;align-items: center;justify-content: space-between;padding: 1rem 0.5rem 1rem 0;cursor: pointer;padding: 8px 0;}

  
@media (min-width: 750px) {
  .faq-collapsible-content__toggle {padding: 2rem 0 2rem 0;}
}
.faq-collapsible-content__toggle-group {
    display: flex;
    align-items: center;
    width: calc(100% - 20px);
}
.faq-collapsible-content__question {margin: 0;transition: var(--duration-default);}
.faq-collapsible-content__digit, .faq-collapsible-content__icon {display: flex;align-items: center;justify-content: center;overflow: hidden;}
.faq-collapsible-content__digit {width: 3rem;height: 3rem;font-size: 16px;font-weight: 500;margin-right: 0.8rem;border-radius: 50%;background: #5fb3e4;color: #ffff;}
  
@media (min-width: 750px) {
  .faq-collapsible-content__digit {width: 4.7rem;height: 4.7rem;font-size: 20px;margin-right: 1.6rem;}
}
  
.faq-collapsible-content__icon svg {width: 2.2rem;height: 2.2rem;color: #000;transform: rotate(90deg);transition: var(--duration-default);}
.faq-collapsible-content__answer {display: none;padding: 2.4rem 0;}
  
@media (min-width: 990px) {
  .faq-collapsible-content__answer {padding:0 0 2.4rem;}
}
.faq-collapsible-content__question{font-size:22px;font-weight:500;letter-spacing: 0px;}
.faq-collapsible-content__item.active .faq-collapsible-content__question{color:#828282;}
.faq-collapsible-content__answer-inner {font-size:18px;max-width: 100%;font-size: 20px;line-height: normal;color:#000;}
.faq-collapsible-content__answer-inner p {margin: 0;margin-bottom:5px;}
.faq-collapsible-content__answer-inner p:last-child{margin:0;}

.faq-collapsible-content__answer-inner p a{text-decoration: underline;}  
.faq-collapsible-button{text-align: center;margin-top: 64px;}
.faq-collapsible-button .common_btn{min-width: 280px;}


@media screen and (max-width:1399px){
  .faq-collapsible-content .faq-text-block{padding:76px 15px;}
  .faq-collapsible-content__top{margin-bottom: 50px;}
  .faq-collapsible-button{margin-top:50px;}
}

@media screen and (max-width:1199px){
  .faq-collapsible-content .faq-text-block{padding: 50px 15px;}
  .faq-collapsible-content__top{margin-bottom: 40px;}
  .faq-collapsible-button{margin-top:40px;}
}

@media screen and (max-width:991px){
  .faq-collapsible-content .faq-coll-content-wrp{flex-direction:column;}

  .faq-collapsible-content .faq-text-block,
  .faq-collapsible-content .faq-image-block{width:100%;}

  .faq-collapsible-content .faq-image-block .faq-img-bl{background-image:unset!important;}
  .faq-collapsible-content .faq-image-block .faq-img-bl img{display:block;width:100%;object-fit:cover;vertical-align:middle;max-height:750px;object-position:center;}

  .faq-collapsible-content__answer {padding:0 0 2.4rem;}
}

@media screen and (max-width:768px){
  .faq-collapsible-content{padding-bottom: 0px;}
 .faq-collapsible-content__top{margin-bottom:24px;}
 .faq-collapsible-button{margin-top:32px;}
  .faq-collapsible-content__heading{
    font-size: 30px !important;
    max-width: 275px;
  }
 .faq-collapsible-content .faq-image-block .faq-img-bl img{max-height:100%;}

 .faq-collapsible-content__heading,
 .faq-collapsible-content__answer-inner p{margin:0 0 8px;}
  
 .faq-collapsible-content__text,
 .faq-collapsible-content__question,
 .faq-collapsible-content__answer-inner{font-size:18px;}

 .faq-collapsible-content__icon svg{width: 13px;height: 16px;}
}

@media screen and (max-width:575px){
 .faq-collapsible-content .faq-text-block{padding:40px 15px;}
 .faq-collapsible-content .faq-image-block .faq-img-bl img{max-height:100%;height: 426px;}
 .faq-collapsible-content__heading{
    font-size: 30px !important;
  }
}

@media screen and (max-width:389px){
 .faq-collapsible-content .faq-image-block .faq-img-bl img{max-height:100%;}
}
  .template-product-lushLips-transformation .faq-collapsible-content__text p{
    max-width: 500px;
  }
  .template-product-lushLips-transformation .faq-collapsible-content__text{
    font-weight: 400;
  }
{% endstyle %}
{% style %}
  {% if section.settings.show_image != true %}
    .faq-collapsible-content .faq-text-block{
      padding: 40px 15px;
    }
    .faq-collapsible-content{
      background: #fff;
    }
    .faq-collapsible-content .faq-text-block,
    .faq-collapsible-content__items{
      width: 100%;
    }
     .faq-collapsible-content__items{
      max-width: 100%;
     }
     .faq-collapsible-content .faq-image-block{
      display: none;
     }
     @media screen and (max-width: 575px){
       .faq-collapsible-content__question{
        font-size: 18px !important;
       }
     }
  {% endif %}
{% endstyle %}
<div class="faq-collapsible-content">
 <div class="faq-coll-content-wrp"> 
  <div class="faq-text-block">
    <div class="faq-collapsible-content__top">
          {%- if section.settings.title != blank -%}
              <h2 class="faq-collapsible-content__heading main_title">
                  {{ section.settings.title }}
              </h2>
          {%- endif -%}

          {%- if section.settings.content != blank -%}
              <div class="faq-collapsible-content__text">
                  {{ section.settings.content }}
              </div>
          {%- endif -%}
      </div>
    <div class="faq-collapsible-content__items">
          {%- for block in section.blocks -%}
              <div class="faq-collapsible-content__item" {{ block.shopify_attributes }}>
                  <div class="faq-collapsible-content__toggle">
                      <div class="faq-collapsible-content__toggle-group">
                          {%- if block.settings.question != blank -%}
                              <h5 class="faq-collapsible-content__question">{{ block.settings.question }}</h5>
                          {%- endif -%}
                      </div>
                      <div class="faq-collapsible-content__icon">
                          {%- render 'icon-button-arrow' -%}
                      </div>
                  </div>

                  {%- if block.settings.answer != blank -%}
                      <div class="faq-collapsible-content__answer">
                          <div class="faq-collapsible-content__answer-inner">{{ block.settings.answer }}</div>
                      </div>
                  {%- endif -%}
              </div>
          {%- endfor -%}
      </div>
    {% if section.settings.button_text != blank or section.settings.button_link != blank %}
      <div class="faq-collapsible-button">
        <a href="{{ section.settings.button_link }}" class="common_btn">{{ section.settings.button_text }}</a>
      </div>
    {% endif %}
  </div>
  <div class="faq-image-block">
    <div class="faq-img-bl" style="background-image:url('{{ section.settings.image | image_url }}')">
      <img src="{{ section.settings.mobile_image | image_url }}" alt="Metamorphosis {{ section.settings.title }}" loading="lazy">
    </div>
  </div> 
 </div>  
</div>
{% endif %}

<script>
(function () {
	const initCollapsibleContent = () => {
		const toggles = document.querySelectorAll('.faq-collapsible-content__toggle');

		toggles.forEach(toggle => {
			toggle.removeEventListener('click', toggleClickHandler);
			toggle.addEventListener('click', toggleClickHandler);
		});

		function toggleClickHandler(event) {
			const toggle = event.currentTarget;
			const parent = toggle.parentElement;
			const itemsContainer = toggle.closest('.faq-collapsible-content__items');
			const answers = itemsContainer.querySelectorAll('.faq-collapsible-content__answer');

			if (!parent.classList.contains('active')) {
				const activeItems = parent.parentElement.querySelectorAll('.faq-collapsible-content__item.active');
				activeItems.forEach(item => item.classList.remove('active'));
				answers.forEach(answer => answer.style.display = 'none');

				parent.classList.add('active');
				toggle.nextElementSibling.style.display = 'block';
			} else {
				parent.classList.remove('active');
				toggle.nextElementSibling.style.display = 'none';
			}
		}
	};

	document.addEventListener('shopify:section:load', function () {
		initCollapsibleContent();
	});

	initCollapsibleContent();
})();
  
</script>

{% schema %}
{
	"name": "FAQ Collapsible",
	"tag": "section",
	"class": "collapsible-content-section",
	"enabled_on": {
		"templates": [
			"*"
		]
	},
	"settings": [
		{
			"type": "checkbox",
			"id": "show_line_separator",
			"default": true,
			"label": "t:sections.collapsible-content.settings.show_line_separator.label"
		},
    {
      "type": "checkbox",
      "id": "show_image",
      "label": "Show image",
      "default": false
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "textarea",
      "id": "content",
      "label": "Content"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Desktop Image"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Mobile Image"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text"
    },  
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    }
	],
  "blocks": [
    {
      "type": "faq_item",
      "name": "FAQ Item",
      "settings": [
        {
          "type": "text",
          "id": "question",
          "label": "Question"
        },
        {
          "type": "richtext",
          "id": "answer",
          "label": "Answer"
        }
      ]
    }
  ],
	"presets": [
		{
			"name": "FAQ Collapsible"
		}
	]
}
{% endschema %}