{{ 'featured-in.css' | asset_url | stylesheet_tag }}
{% assign paddTop = section.settings.paddTop %}
{% assign padBottom = section.settings.padBottom %}
<section id="sec-{{ section.id }}" class="featured-in-section {% if paddTop == true and padBottom == true %} pt_90 pb_90 {% elsif padBottom == true %}pb_90 {% elsif paddTop == true %}pt_90{% endif %}">
  <div class="page-width">
     <div class="featured-in_wrp">
         {% if section.settings.title != blank %}
            <h2 class="main_title">{{ section.settings.title }}</h2>
         {% endif %}
         <div class="swiper featured-in_swiper">
          <div class="swiper-wrapper">
            {% for block in section.blocks %}
             {% if block.settings.image != blank %}  
              <div class="swiper-slide">
                <figure class="featured-in-row">
                  <img src="{{ block.settings.image |  img_url : "master" }}" alt="{{ block.settings.image.alt }}"  style="height:{{ block.settings.logo_height }}px;" loading="lazy">
                </figure>
              </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
     </div>
  </div>
</section>

<script>
  var swiper = new Swiper("#sec-{{ section.id }} .featured-in_swiper", {
    slidesPerView: 4,
    spaceBetween: 25,
    loop: true,
    autoplay: {
      delay: 2000,
      disableOnInteraction: false,
    },
    breakpoints: {
      700: {
        slidesPerView: 4.1,
        spaceBetween: 30,
      },
      900: {
        slidesPerView: 6,
        spaceBetween: 47,
      },
    },
  });
</script>

{% schema %}
  {
    "name": "Featured In",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "FEATURED IN"
      },
      {
        "type":"checkbox",
        "id":"paddTop",
        "label":"Padding Top",
        "default":false
      },
      {
        "type":"checkbox",
        "id":"padBottom",
        "label":"Padding Bottom",
        "default":true
      }
    ],
     "blocks": [
      {
        "type":"block",
        "name":"Image Row",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "range",
            "id": "logo_height",
            "min": 30,
            "max": 100,
            "label": "Min Logo Height",
            "step": 1,
            "default": 30
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Featured In",
      }
    ]
  }
{% endschema %}