 {{ 'feature-testimonials-section.css' | asset_url | stylesheet_tag }}

 
 {% style %}

{% if section.settings.background-img != blank %}  
.feature-testimonials-section{background-image: url('{{ section.settings.background-img | img_url : 'master' }}');}
{% endif %}  

{% endstyle %}



<section id="sec_{{ section.id }}" class="feature-testimonials-section pb_90 pt_90" style="background:{{ section.settings.background }}">
   <div class="page-width">
    {% if section.settings.fea_img != blank %}
     <div class="fea_img">
       {% comment %} <img src="{{ section.settings.fea_img | img_url : "285x" }}"> {% endcomment %}
       <img src="{{ section.settings.fea_img | image_url: width: 285,format: 'webp' }}">
     </div>
     {% endif %}
     {% if section.settings.tite != blank %}
       <div class="main_title" style="color:{{ section.settings.text_color }}">
         {{ section.settings.tite }}
       </div>  
     {% endif %} 


    <div thumbsSlider="" class="swiper trusted_by">
      <div class="swiper-wrapper">
        {% for block in section.blocks %}
          
          <div class="swiper-slide {{ block.settings.class }}">
            {% if block.settings.image != blank %}
              <figure>
                {% comment %} <img src ="{{ block.settings.image | img_url : "master"}}" alt="{{ block.settings.image.alt }}" style="height:{{ block.settings.logo_height }}px;" loading="lazy"> {% endcomment %}
                <img src ="{{ block.settings.image | image_url: width: block.settings.image.width, format: 'webp'}}" alt="{{ block.settings.image.alt }}" style="height:{{ block.settings.logo_height }}px;" loading="lazy">
              </figure>
            {% endif %} 
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="swiper feature-testimonial-slider">
      <div class="swiper-wrapper">
        {% for block in section.blocks %} 
        <div class="swiper-slide">
           <div class="feature-testimonials-block">
             {% if block.settings.text != blank %}
              <figcaption class="short_dec" style="color:{{ section.settings.text_color }};">{{ block.settings.text }}</figcaption>
             {% endif %}

             <figcaption class="full_dec" style="color:{{ section.settings.text_color }};">{{ block.settings.rte_content }}</figcaption>

             
          {% if block.settings.rte_content != blank %}
             <small class="readmore_btn" onclick="jQuery(this).siblings('.full_dec').show();jQuery(this).siblings('.short_dec').hide();jQuery(this).hide();jQuery(this).siblings('.readless_btn').show();" style="cursor: pointer;color: #fff;">
               <b>Read More</b>&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="7" height="7" viewBox="0 0 7 7" fill="none"><path d="M0.24 4.45743V3.39343H2.718V0.929425H3.768V3.39343H6.232V4.45743H3.768V6.92143H2.718V4.45743H0.24Z" fill="white"/></path></svg>
             </small>

             <small class="readless_btn" onclick="jQuery(this).siblings('.full_dec').hide();jQuery(this).siblings('.short_dec').show();jQuery(this).hide();jQuery(this).siblings('.readmore_btn').show();" style="cursor: pointer;color: #fff; display:none;">
               <b>Read Less</b>&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="4" height="2" viewBox="0 0 4 2" fill="none"><path d="M0.354 1.276V0.212H3.798V1.276H0.354Z" fill="white"/></path></svg>
             </small>
          {% endif %}


             {% if block.settings.city_text != blank %}
               <span class="city_name">{{ block.settings.city_text }}</span>
             {% endif  %}
             
             {% comment %}
               
             {% if block.settings.image != blank %}
              <figure>
                <img src ="{{ block.settings.image | img_url : "master"}}" style="height:{{ block.settings.logo_height }}px;">
              </figure>
            {% endif %} 
            {% endcomment %}
           </div>
        </div>
          {% endfor %}
      </div>
      <div class="swiper-button-next">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="28" viewBox="0 0 40 28" fill="none">
          <path d="M24.1235 27.2948L23.1444 27.2948C24.2532 24.279 25.8186 21.5924 27.7447 19.3994C29.6708 17.2065 31.9171 15.5533 34.3462 14.5412L0 14.5412V13.3818L34.3462 13.3818C31.9155 12.3711 29.6675 10.7186 27.7398 8.52554C25.8121 6.33252 24.2454 3.64517 23.1356 0.628174L24.1235 0.628174C25.6228 4.46637 27.8978 7.68725 30.6986 9.93712C33.4994 12.187 36.7176 13.3788 40 13.3818V14.5412C36.7176 14.5442 33.4994 15.736 30.6986 17.9859C27.8978 20.2358 25.6228 23.4566 24.1235 27.2948Z" fill="#000"/></path>
        </svg>
      </div>
      <div class="swiper-button-prev">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="28" viewBox="0 0 40 28" fill="none">
          <path d="M15.8765 0.628004L16.8556 0.628004C15.7468 3.64384 14.1814 6.33048 12.2553 8.52343C10.3292 10.7164 8.08286 12.3695 5.6538 13.3816L40 13.3816V14.5411L5.6538 14.5411C8.08447 15.5518 10.3325 17.2043 12.2602 19.3973C14.1879 21.5903 15.7546 24.2777 16.8644 27.2947L15.8765 27.2947C14.3772 23.4565 12.1022 20.2356 9.30141 17.9857C6.50063 15.7359 3.28236 14.544 0 14.5411L0 13.3816C3.28236 13.3787 6.50063 12.1868 9.30141 9.93695C12.1022 7.68708 14.3772 4.4662 15.8765 0.628004Z" fill="#000"/></path>
        </svg>
      </div>
      <div class="swiper-pagination"></div>
    </div>

   </div>  
</section>


<script>


$(document).ready(function () {

  {% comment %} var swiperTrustedBy = new Swiper("#sec_{{ section.id }} .trusted_by", {
    spaceBetween: 10,
    slidesPerView: 5,
    loop: true,
    freeMode: true,
    watchSlidesProgress: true,
    centeredSlides: true,
  });

  var swiper = new Swiper("#sec_{{ section.id }} .feature-testimonial-slider", {
    autoHeight: true,
    slidesPerView: 1,
    loop: true,
    pagination: {
      el: ".feature-testimonial-slider .swiper-pagination",
      clickable: true
    },
     navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
    thumbs: {
        swiper: swiperTrustedBy,
    },
  });

  $(".feature-testimonials-block .readmore_btn,.feature-testimonials-block .readless_btn").on("click", function () {
    // setTimeout(function () {
      swiper.update();
    // }, 200); 
  }); {% endcomment %}

  var swiperTrustedBy = new Swiper("#sec_{{ section.id }} .trusted_by", {
    spaceBetween: 40,
    slidesPerView: 3,
    loop: true,
    autoplay: {
    delay: 5000,
  },
    watchSlidesProgress: true,
    centeredSlides: true,
     breakpoints: {
      640: {
        slidesPerView: 3,
        spaceBetween: 20,
      },
      768: {
        slidesPerView: 3,
        spaceBetween: 40,
      },
      1024: {
        slidesPerView: 5,
        spaceBetween: 50,
      },
    },
});

var swiper = new Swiper("#sec_{{ section.id }} .feature-testimonial-slider", {
    autoHeight: true,
    slidesPerView: 1,
    loop: true,
    autoplay: {
    delay: 5000,
  },
    pagination: {
        el: ".feature-testimonial-slider .swiper-pagination",
        clickable: true
    },
    navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
    },
    thumbs: {
        swiper: swiperTrustedBy,
    },
});

swiper.on('slideChange', function () {
    swiperTrustedBy.slideToLoop(swiper.realIndex, 300, true);
});

$(".feature-testimonials-block .readmore_btn, .feature-testimonials-block .readless_btn").on("click", function () {
    swiper.update();
    swiperTrustedBy.update();
});


  
});

  
</script>

{% schema %}
  {
    "name": "Feature Section",
    "settings": [
        {
          "type": "color",
          "id": "background",
          "label": "Background color"
        },      
        {
          "type": "image_picker",
          "id": "fea_img",
          "label": "Featured Image"
        },
        {
          "type": "image_picker",
          "id": "background-img",
          "label": "Background Image"
        },
        {
          "type":"color",
          "id":"text_color",
          "label": "Text Color",
          "default": "#fff"
        },
        {
          "type": "text",
          "id": "tite",
          "label": "Title",
          "default":"feature-testimonials"
        }
    ],
    "blocks": [
      {
        "type": "text",
        "name": "block",
        "settings":[
          {
            "type": "richtext",
            "id": "text",
            "label": "Text"
          },
          {
            "type": "richtext",
            "id": "rte_content",
            "label": "Full Content"
          },
          {
            "type": "text",
            "id": "city_text",
            "label": "City Name"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "range",
            "id": "logo_height",
            "min": 15,
            "max": 100,
            "label": "Min Logo Height",
            "step": 1,
            "default": 18
          },
          {
            "type": "text",
            "id": "class",
            "label": "Class"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Feature Section",
      }
    ]
  }
{% endschema %}