{% style %}

  #faqs-{{ section.id }} .faq_image_main {display: flex;flex-wrap:wrap;max-width:1440px;margin:0 auto;}
  
   #faqs-{{ section.id }} .faq_image_main .faq_main .faq_imag{display:none;height:100%;width:100%;}
   #faqs-{{ section.id }} .faq_image_main .faq_main .faq_imag.faq_block-active{display:block;}
   #faqs-{{ section.id }} .faq_image_main .faq_main .faq_imag img{width: 100%;object-fit: cover;vertical-align: middle;height: 100%;}

   #faqs-{{ section.id }} .mobile_img{display:none;}
   #faqs-{{ section.id }} .faq_image img{width: 100%;}

  #faqs-{{ section.id }} .faq_title_wrap{padding-bottom:50px;}
  #faqs-{{ section.id }} h2.section-title {max-width: 440px;margin: 0 auto;padding-bottom: 15px;}
  #faqs-{{ section.id }} .faq_title_wrap .sub-title{width: 100%;display: inline-block;text-align: center;font-size: 20px;color: #000;}
  
   #faqs-{{ section.id }}.faq_section .faq_main {width:50%;}
   #faqs-{{ section.id }}.faq_section .faq_main_block{width:50%;display:flex;padding:60px;}
   #faqs-{{ section.id }}.faq_section .faq_main_block .faq_section_block_wrp{width: 100%;}
  
   #faqs-{{ section.id }}.faq_section .faq_section_block_inner{border-bottom: 0.5px solid #BDBDBD;}

   #faqs-{{ section.id }}.faq_section .faq_section_block{display:flex;flex-direction:column;}
   #faqs-{{ section.id }}.faq_section .faq_block_questions:hover{cursor:pointer;}
   #faqs-{{ section.id }}.faq_section .faq_block-active .faq_block_questions h1{color:#000;}
   #faqs-{{ section.id }}.faq_section .faq_block_questions{display:flex;justify-content: space-between;align-items: center;transition: .2s;padding: 16px 0;}
   #faqs-{{ section.id }}.faq_section .faq_block_questions h3 { margin: 0;transition: .4s; font-size: 24px;font-weight: 500;line-height: 20px;color: #2D2D2D;} 

   #faqs-{{ section.id }}.faq_section .faq_answer{display:none;font-size:16px;transition:color 0.2s;padding:0 0 16px;}
   #faqs-{{ section.id }}.faq_section .faq_section_block_inner:not(.faq_block-active) .faq_answer{color:#000}
   #faqs-{{ section.id }}.faq_section .faq_answer p{margin:0; font-size: 20px; font-weight: 400;line-height: 22.4px;color:#000;}

  #faqs-{{ section.id }}.faq_section .faq_section_block_inner.faq_block-active .faq_block_questions{border-color:#000;}
  #faqs-{{ section.id }}.faq_section .faq_section_block_inner.faq_block-active .faq_block_questions h3{color:#828282;}
  #faqs-{{ section.id }}.faq_section .faq_section_block_inner.faq_block-active .faq_minus svg{fill:#000;}

   #faqs-{{ section.id }}.faq_section .faq_plus{line-height: normal;}
   #faqs-{{ section.id }}.faq_section .faq_plus svg{fill:#000;width:26px;height:26px;vertical-align: middle;}
   
   #faqs-{{ section.id }}.faq_section .faq_block-active .faq_plus svg{fill:#000;}
   #faqs-{{ section.id }}.faq_section .faq_block-active .faq_plus svg path{stroke:#000;}
   #faqs-{{ section.id }}.faq_section .faq_minus svg{height:26px;width:26px;vertical-align: middle;}
   #faqs-{{ section.id }}.faq_section .faq_minus svg{fill:#000;}
   #faqs-{{ section.id }}.faq_section .faq_minus svg path{fill:#000!important;}

   #faqs-{{ section.id }}.faq_section .faq_btn{max-width: 212px;margin: 40px auto 0 auto;}
   #faqs-{{ section.id }}.faq_section .faq_btn a{width:100%;}
   #faqs-{{ section.id }}.faq_section .faq_image_main.right-movie {flex-flow: row-reverse;}
  
  .faq_image {height: 100%;}
  .faq_image img {height: 100%;object-fit: cover;}

  
  #faqs-{{ section.id }} .product_related_B0lcok{padding-bottom:16px;display:none;}
  #faqs-{{ section.id }} .faq_section_block_inner.faq_block-active .product_related_B0lcok{display:block;}
  
  #faqs-{{ section.id }} .product_routine_title{margin: 0;color: #828282;font-family: var(--argentum);font-size: 14px;letter-spacing: .5px;line-height: 1.3;text-transform: uppercase;margin-bottom: 8px;}
  
  #faqs-{{ section.id }} .product_related_B0lcok .product_select_block, 
  #faqs-{{ section.id }} .product_related_B0lcok .product_select_block .product_select_block_row {display: flex;align-items: center;}
  #faqs-{{ section.id }} .product_related_B0lcok .product_select_block{flex-wrap:nowrap;gap:10px;}
  #faqs-{{ section.id }} .product_related_B0lcok .product_select_block figure, 
  #faqs-{{ section.id }} .product_related_B0lcok .product_select_block figure img {width: 94px;height: 94px;}
  #faqs-{{ section.id }} .product_related_B0lcok .product_select_block product-form.product-form {width: 180px;}
  #faqs-{{ section.id }} .product_related_B0lcok .product_select_block product-form.product-form button {width: 100%;min-width: auto;max-width: 100%;background: transparent;text-transform: uppercase;font-weight: 300;}
  #faqs-{{ section.id }} .product_related_B0lcok .product_select_block .product_title_with_price {width: 280px;padding-left: 20px;}
  #faqs-{{ section.id }} .product_related_B0lcok .product_select_block {justify-content: space-between;}
  #faqs-{{ section.id }} .product_title_with_price .product_title {margin: 0;font-size: 18px;line-height: 1.3;font-weight: 800;margin-bottom: 10px;}
  #faqs-{{ section.id }} .product_title_with_price span.product-select-price-money {color: #CA003D;font-size: 24px;line-height: 1.3;letter-spacing: 0.1px;font-weight: 800;}

  
  @media(max-width:1399px) {

    #faqs-{{ section.id }} .faq_title_wrap{padding-bottom:30px;}
    #faqs-{{ section.id }}.faq_section .faq_main_block {padding: 30px 35px;}
    
    #faqs-{{ section.id }}.faq_section .faq_block_questions h3 {font-size: 22px;line-height: 24px;}
    #faqs-{{ section.id }} h2.section-title {padding-bottom: 16px;}
    
    #faqs-{{ section.id }} .product_related_B0lcok .product_select_block .product_title_with_price {width: 240px;}
    #faqs-{{ section.id }} .product_related_B0lcok .product_select_block product-form.product-form { width: 140px;}

    
  }
  
  
   @media screen and (max-width:1199px){

     #faqs-{{ section.id }} .faq_image_main .faq_main .faq_imag img{object-fit: fill;}
     #faqs-{{ section.id }} .faq_title_wrap{padding-bottom:20px;}

     #faqs-{{ section.id }}.faq_section .faq_block_questions {padding:10px 0;}

     #faqs-{{ section.id }}.faq_section .faq_answer p{font-size: 18px;line-height: 20px;}

    #faqs-{{ section.id }} .product_related_B0lcok .product_select_block figure, 
    #faqs-{{ section.id }} .product_related_B0lcok .product_select_block figure img {width: 130px;height: 130px;}
    #faqs-{{ section.id }} .product_related_B0lcok .product_select_block .product_title_with_price {width: 140px;padding-bottom: 0px;}
    #faqs-{{ section.id }} .product_related_B0lcok .product_select_block {position: relative;}
    #faqs-{{ section.id }} .product_related_B0lcok .product_select_block product-form.product-form {width: 140px;} 
     
   }

   @media screen and (max-width:1023px){
      #faqs-{{ section.id }} .faq_image_main {flex-direction: column-reverse;}
       #faqs-{{ section.id }}.faq_section .faq_main_block,
       #faqs-{{ section.id }} .faq_image_main .faq_main{width:100%;}

     #faqs-{{ section.id }} .faq_image_main .faq_main .faq_imag img{object-fit: cover;}

     #faqs-{{ section.id }}.faq_section .faq_main_block {padding: 0 35px 35px;}

     
   }
  
  
   @media screen and (max-width:991px){

     #faqs-{{ section.id }} .product_related_B0lcok .product_select_block figure, 
     #faqs-{{ section.id }} .product_related_B0lcok .product_select_block figure img{ width: 150px;height: 150px;}

     #faqs-{{ section.id }} .product_related_B0lcok .product_select_block .product_title_with_price{width: calc(100% - 150px);padding-bottom: 60px;}

     #faqs-{{ section.id }} .product_related_B0lcok .product_select_block product-form.product-form{width: 140px;position: absolute;left: 170px;bottom: 0;}

      #faqs-{{ section.id }} .product_routine_title{font-size:13px;}
     
  }
  
   @media screen and (max-width:767px){

     #faqs-{{ section.id }} .product_related_B0lcok .product_select_block .product_title_with_price{padding-bottom: 0;}
     #faqs-{{ section.id }} .product_related_B0lcok .product_select_block product-form.product-form{position:unset;}

     #faqs-{{ section.id }}.faq_section .faq_main_block {padding: 0 15px 40px;}

     #faqs-{{ section.id }} .desk_img{display:none;}
     #faqs-{{ section.id }} .mobile_img{display:block;}
     
     #faqs-{{ section.id }}.faq_section .faq_block_questions h3 {font-size: 18px;line-height: 20px;}
     #faqs-{{ section.id }} h2.section-title {max-width: 330px;}

     * #faqs-{{ section.id }}.faq_section .faq_plus svg, 
     .faq_section .faq_minus svg {height: 20px;width:16px;}
   }
  
   @media screen and (max-width:575px){
     /* #faqs-{{ section.id }}.faq_section .faq_answer{font-size: 13px;line-height: 21px;margin-top:0px; padding-bottom: 2px;} */
     /* #faqs-{{ section.id }}.faq_section .faq_main_title {margin: 0 auto 25px auto;} */
     /* #faqs-{{ section.id }}.faq_section .faq_plus svg, .faq_section .faq_minus svg {height: 26px;} */
      /* #faqs-{{ section.id }}.faq_section .faq_answer p{font-size: 14px;line-height: 18px;} */

      #faqs-{{ section.id }} .product_related_B0lcok .product_select_block figure, 
      #faqs-{{ section.id }} .product_related_B0lcok .product_select_block figure img{width: 170px;height: 170px;}
 
      #faqs-{{ section.id }} .product_related_B0lcok .product_select_block .product_title_with_price{padding-bottom:70px;}

      #faqs-{{ section.id }} .product_related_B0lcok .product_select_block product-form.product-form{position: absolute;left: 190px;}
     
   }

  @media screen and (max-width:389px){
   #faqs-{{ section.id }} .product_related_B0lcok .product_select_block figure,
  #faqs-{{ section.id }} .product_related_B0lcok .product_select_block figure img{width:150px;height:150px;}

   #faqs-{{ section.id }} .product_related_B0lcok .product_select_block .product_title_with_price{padding-bottom:60px;}
  
   #faqs-{{ section.id }} .product_related_B0lcok .product_select_block product-form.product-form{width:auto;left:170px;}

   #faqs-{{ section.id }} .product_related_B0lcok .product-form__buttons{padding:8px;}
}
  
{% endstyle %}

<div id="faqs-{{ section.id }}" class="faq_section cus_padding {{ section.settings.custom_class }}">
  <div class="faq_image_main  {{ section.settings.containt_movie }}">
    <div class="faq_main">
     {% for block in section.blocks %}
      {% if block.settings.image != blank or block.settings.mob_image != blank %}
        <div class="faq_imag{% if forloop.index == 1 %} faq_block-active{% endif %}" data-index="{{ forloop.index }}">
          <img class="desk_img" src="{{ block.settings.image | img_url : "master" }}" alt="{{ block.settings.image.alt }}" loading="lazy">
          <img class="mobile_img" src="{{ block.settings.mob_image | img_url : "master" }}" alt="{{ block.settings.mob_image.alt }}" loading="lazy">
        </div>
      {% endif %}
      {% endfor %}
    </div>

    <div class="faq_main_block">
      <div class="faq_section_block_wrp">
       <div class="faq_title_wrap"> 
          {% if section.settings.title != blank -%}
            <h2 class="section-title main_title">{{ section.settings.title }}</h2>
          {%- endif %}
          {% if section.settings.sub-mission != blank %}
            <span class="sub-title">{{ section.settings.sub-mission }}</span>
          {% endif %}
       </div> 
        <div class="faq_section_block">
          {% for block in section.blocks %}
            {% if block.settings.heading != blank and block.settings.description != blank %}
              <div class="faq_section_block_inner {% if forloop.index == 1 %}faq_block-active{% endif %}" data-index="{{ forloop.index }}">
                <div class="faq_block_questions">
                  <h3>{{ block.settings.heading }}</h3>
                  <div class="faq_block_plus_minus">
                    <span class="faq_plus {% if forloop.index == 1 %}hidden{% endif %}">
                     <svg xmlns="http://www.w3.org/2000/svg" width="10" height="16" viewBox="0 0 10 16" fill="none">
                        <path d="M-4.33186e-07 9.17912L-4.01089e-07 8.81197C1.13094 9.22776 2.13843 9.81477 2.96079 10.5371C3.78314 11.2594 4.40307 12.1017 4.78261 13.0126L4.78261 0.132813L5.21739 0.132813L5.21739 13.0126C5.59641 12.1011 6.2161 11.2581 7.03849 10.5352C7.86087 9.81234 8.86863 9.22482 10 8.80867L10 9.17912C8.56068 9.74138 7.35285 10.5945 6.50915 11.6448C5.66545 12.6951 5.2185 13.9019 5.21739 15.1328L4.78261 15.1328C4.7815 13.9019 4.33455 12.6951 3.49085 11.6448C2.64715 10.5945 1.43932 9.74137 -4.33186e-07 9.17912Z" fill="black"/></path>
                      </svg>
                    </span>
                    <span class="faq_minus  {% if forloop.index != 1 %}hidden{% endif %}">
                      <svg xmlns="http://www.w3.org/2000/svg" width="10" height="16" viewBox="0 0 10 16" fill="none">
                        <path d="M10 6.08651V6.45365C8.86906 6.03786 7.86157 5.45086 7.03922 4.72856C6.21686 4.00627 5.59693 3.16388 5.21739 2.25299L5.21739 15.1328H4.78261L4.78261 2.25299C4.40359 3.16449 3.7839 4.00751 2.96151 4.7304C2.13913 5.45328 1.13137 6.0408 0 6.45696L0 6.08651C1.43932 5.52425 2.64715 4.67114 3.49085 3.62084C4.33456 2.57055 4.7815 1.3637 4.78261 0.132812L5.21739 0.132812C5.2185 1.3637 5.66545 2.57055 6.50915 3.62084C7.35285 4.67114 8.56068 5.52425 10 6.08651Z" fill="#828282"/></path>
                      </svg>
                    </span>
                  </div>
                </div>
                <div class="faq_answer" {% if forloop.index == 1 %} style="display:block" {% endif %} >
                  <div class="rte">
                    {{ block.settings.description }}
                  </div>
                </div>
                {% assign product_cus = block.settings.product %}
                {% if product_cus != blank %}
                  <div class="product_related_B0lcok">
                    {% if block.settings.block_title != blank %}
                      <div class="product_routine_title">{{ block.settings.block_title }}</div>
                    {% endif %} 
                    <div class="product_select_block">
                      <div class="product_select_block_row">
                        <figure>
                          <a href="{{ product_cus.url }}">
                          {% if block.settings.product_img != blank %}
                            <img src="{{ block.settings.product_img | img_url : "medium" }}" alt="{{ block.settings.product_img.alt }}" loading="lazy">
                          {% else %}
                           <img src="{{ product_cus.featured_media | img_url : "medium" }}" alt="{{ product_cus.featured_media.alt }}" loading="lazy">
                          {% endif %} 
                          </a>  
                        </figure>
                        <div class="product_title_with_price">
                          <h5 class="product_title">
                            {% if product_cus.metafields.Product.list_title != blank %}
                              {{ product_cus.metafields.Product.list_title }}
                            {% else %}
                              {{ product_cus.title }}
                            {% endif %}
                          </h5>
                          <span class="product-select-price-money">{{ product_cus.price | money }}</span>
                        </div>
                      </div>
                      {%- liquid assign gift_card_recipient_feature_active = false 
                         if product_cus.gift_card? 
                         assign gift_card_recipient_feature_active = true 
                         endif 
                         assign show_dynamic_checkout = false 
                         if gift_card_recipient_feature_active == false 
                         assign show_dynamic_checkout = true 
                         endif 
                      -%}
                      <product-form class="product-form" data-hide-errors="{{ gift_card_recipient_feature_active }}">
                        <div class="product-form__error-message-wrapper" role="alert" hidden>
                          <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-error" viewBox="0 0 13 13" >
                            <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/></circle>
                            <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/></circle>
                            <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/></path>
                            <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7"></path>                                                                                                                                                                                                                                                                                                                                                                                                                                              
                          </svg>
                          <span class="product-form__error-message"></span>
                        </div>
                        {%- assign product_form_id = 'product-form-' | append: section.id -%}      
                        {%- form 'product',
                          product_cus,
                          id: product_form_id,
                          class: 'form',
                          novalidate: 'novalidate',
                          data-type: 'add-to-cart-form'
                        -%}
                          <input
                            type="hidden"
                            name="id"
                            value="{{ product_cus.selected_or_first_available_variant.id }}"
                            disabled
                          >
    
                          <div class="product-form__buttons" style="margin:0;">
                            <button
                              id="ProductSubmitButton-{{ section.id }}"
                              type="submit"
                              name="add"
                              class="product-form__submit common_btn product-section__button button--primary-size button--arrow button--primary"
                              
                                {% if block.settings.show_dynamic_checkout and product_cus.selling_plan_groups == empty %}button--secondary{% else %}button--primary{% endif %}
                              
                              {% if product_cus.selected_or_first_available_variant.available == false %}
                                disabled
                              {% endif %}
                            >
                              {%- if product_cus.selected_or_first_available_variant.available -%}
                                {{ 'products.product.add_to_cart' | t }}
                              {%- else -%}
                                {{ 'products.product.sold_out' | t }}
                              {%- endif -%}
                            </button>
                          </div>
                        {%- endform -%}
                    </product-form>
                  </div>
                </div>
                {% endif %}
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

<script>
//   $(document).ready(function(){
//     $("#faqs-{{ section.id }} .faq_block_questions").click(function(){
//         let parentBlock = $(this).closest('.faq_section_block_inner');
//         let dataIndex = parentBlock.data('index');

//         if(parentBlock.hasClass('faq_block-active')){
//             parentBlock.removeClass('faq_block-active');
//             parentBlock.find('.faq_answer').slideUp();
//             $(this).find('.faq_minus').addClass('hidden');
//             $(this).find('.faq_plus').removeClass('hidden');
//             $(".faq_imag[data-index='" + dataIndex + "']").removeClass('faq_block-active');
//         } else {
//             $('.faq_section_block_inner').removeClass('faq_block-active');
//             $('.faq_section_block_inner').find('.faq_answer').slideUp();
//             $('.faq_section_block_inner').find('.faq_minus').addClass('hidden');
//             $('.faq_section_block_inner').find('.faq_plus').removeClass('hidden');
//             $(".faq_imag").removeClass('faq_block-active');

//             parentBlock.addClass('faq_block-active');
//             parentBlock.find('.faq_answer').slideDown();
//             $(this).find('.faq_plus').addClass('hidden');
//             $(this).find('.faq_minus').removeClass('hidden');

//             $(".faq_imag[data-index='" + dataIndex + "']").addClass('faq_block-active');
//         }
//     });
// });


  $(document).ready(function(){
    $("#faqs-{{ section.id }} .faq_block_questions").click(function(){
        let parentBlock = $(this).closest('.faq_section_block_inner');
        let dataIndex = parentBlock.data('index');

        if (!parentBlock.hasClass('faq_block-active')) {
            $('.faq_section_block_inner').removeClass('faq_block-active');
            $('.faq_section_block_inner').find('.faq_answer').slideUp();
            $('.faq_section_block_inner').find('.faq_minus').addClass('hidden');
            $('.faq_section_block_inner').find('.faq_plus').removeClass('hidden');
            $(".faq_imag").removeClass('faq_block-active');

            parentBlock.addClass('faq_block-active');
            parentBlock.find('.faq_answer').slideDown();
            $(this).find('.faq_plus').addClass('hidden');
            $(this).find('.faq_minus').removeClass('hidden');

            $(".faq_imag[data-index='" + dataIndex + "']").addClass('faq_block-active');
        }
    });
});

  
  
</script>

{% schema %}
{
  "name": "Image with faq",
  "settings":[
    {
      "type": "text",
      "id": "sub-mission",
      "label": "Main Sub Text",
      "default": "Support is Our Mission"
    },
    {
      "type":"text",
      "id":"title",
      "label":"Main Title"
    },
    {
      "type": "select",
      "id": "containt_movie",
      "label": "position",
      "options": [
        {
          "value": "left-movie",
          "label": "Image left"
        },
        {
          "value": "right-movie",
          "label": "Image right"
        }
      ]
    },
    {
      "type":"text",
      "id":"custom_class",
      "label":"Custom Class"
    }
  ],
  "blocks":[
    {
      "name":"Faq",
      "type":"text",
      "settings":[
         {
          "type":"text",
          "id":"heading",
          "label":"Heading"
        },
        {
          "type":"richtext",
          "id":"description",
          "label":"Description"
        },
        {
          "type":"image_picker",
          "id":"image",
          "label":"Image"
        },
        {
          "type":"image_picker",
          "id":"mob_image",
          "label":"Mobile Image"
        },
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        },
        {
          "type": "image_picker",
          "id": "product_img",
          "label": "Product Image"
        },
        {
          "type": "text",
          "id": "block_title",
          "label": "Title",
          "default": "FEATURED PRODUCT"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image with faq"
    }
  ]
}
{% endschema %}
