{%- if product.metafields.faq.title != blank -%}
  {{ 'product-faq-section.css' | asset_url | stylesheet_tag }}
  {% style %}
    .template-product-lushLips-transformation .new-collapsible-content__text p{
      max-width: 500px;
    }
    .template-product-lushLips-transformation .new-collapsible-content__text{
      font-weight: 400;
    }
  {% endstyle %}
  {% style %}
    {% if section.settings.show_image != true %}
      .new-collapsible-content .new-text-block{
        padding: 40px 15px;
      }
      .new-collapsible-content{
        background: #fff;
      }
      .new-collapsible-content .new-text-block,
      .new-collapsible-content__items{
        width: 100%;
      }
       .new-collapsible-content__items{
        max-width: 100%;
       }
       .new-collapsible-content .new-image-block{
        display: none;
       }
       @media screen and (max-width: 575px){
         .new-collapsible-content__question{
          font-size: 18px !important;
         }
       }
    {% endif %}
  {% endstyle %}
  <div class="new-collapsible-content">
    <div class="new-coll-content-wrp">
      <div class="new-text-block">
        <div class="new-collapsible-content__top">
          {%- if product.metafields.faq.title != blank -%}
            <h2 class="new-collapsible-content__heading main_title">
              {{ product.metafields.faq.title }}
            </h2>
          {%- endif -%}

          {%- if product.metafields.faq.content != blank or section.settings.content != blank -%}
            <div class="new-collapsible-content__text">
              {% if section.settings.content != blank %}
                {{ section.settings.content }}
              {% else %}
                {{ product.metafields.faq.content }}
              {% endif %}
            </div>
          {%- endif -%}
        </div>
        <div class="new-collapsible-content__items">
          {%- for block in product.metafields.faq.question -%}
            {% assign i = forloop.index0 %}
            {% comment %} {% if forloop.index == 1 %} active{% endif %}{% endcomment %}
            <div class="new-collapsible-content__item" {{ block.shopify_attributes }}>
              <div class="new-collapsible-content__toggle">
                <div class="new-collapsible-content__toggle-group">
                  {%- if product.metafields.faq.question[i] != blank -%}
                    <h5 class="new-collapsible-content__question">{{ product.metafields.faq.question[i] }}</h5>
                  {%- endif -%}
                </div>
                <div class="new-collapsible-content__icon">
                  {%- render 'icon-button-arrow' -%}
                </div>
              </div>

              {%- if product.metafields.faq.answer[i] != blank -%}
                {% comment %} {% if forloop.index == 1 %} style="display: block;" {% endif %}{% endcomment %}
                <div class="new-collapsible-content__answer">
                  <div class="new-collapsible-content__answer-inner">{{ product.metafields.faq.answer[i] }}</div>
                </div>
              {%- endif -%}
            </div>
          {%- endfor -%}
        </div>
        {% if section.settings.button_text != blank or section.settings.button_link != blank %}
          <div class="new-collapsible-button">
            <a href="{{ section.settings.button_link }}" class="common_btn">{{ section.settings.button_text }}</a>
          </div>
        {% endif %}
      </div>
      <div class="new-image-block">
        <div class="ne-img-bl" style="background-image:url('{{ product.metafields.faq.image }}')">
          <img src="{{product.metafields.faq.mobile-image}}" alt="Metamorphosis {{ product.metafields.faq.title  }}" loading="lazy">
        </div>
      </div>
    </div>
  </div>
{% endif %}

<script>
  (function () {
    const initCollapsibleContent = () => {
      const toggles = document.querySelectorAll('.new-collapsible-content__toggle');

      toggles.forEach((toggle) => {
        toggle.removeEventListener('click', toggleClickHandler);
        toggle.addEventListener('click', toggleClickHandler);
      });

      function toggleClickHandler(event) {
        const toggle = event.currentTarget;
        const parent = toggle.parentElement;
        const itemsContainer = toggle.closest('.new-collapsible-content__items');
        const answers = itemsContainer.querySelectorAll('.new-collapsible-content__answer');

        if (!parent.classList.contains('active')) {
          const activeItems = parent.parentElement.querySelectorAll('.new-collapsible-content__item.active');
          activeItems.forEach((item) => item.classList.remove('active'));
          answers.forEach((answer) => (answer.style.display = 'none'));

          parent.classList.add('active');
          toggle.nextElementSibling.style.display = 'block';
        } else {
          parent.classList.remove('active');
          toggle.nextElementSibling.style.display = 'none';
        }
      }
    };

    document.addEventListener('shopify:section:load', function () {
      initCollapsibleContent();
    });

    initCollapsibleContent();
  })();
</script>

{% schema %}
{
  "name": "New Collapsible Content",
  "tag": "section",
  "class": "collapsible-content-section",
  "enabled_on": {
    "templates": ["*"]
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "show_line_separator",
      "default": true,
      "label": "t:sections.collapsible-content.settings.show_line_separator.label"
    },
    {
      "type": "checkbox",
      "id": "show_image",
      "label": "Show image",
      "default": false
    },
    {
      "type": "textarea",
      "id": "content",
      "label": "Content"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    }
  ],
  "presets": [
    {
      "name": "New Collapsible Content"
    }
  ]
}
{% endschema %}
