 {% style %}
   .product_service_section .page-width {
    max-width: 1250px;
}

.product_service_section_title .main_title{
      font-size: 26px;
}

.product_service_section .product_service_wrp .product_service_block .icon-block {
    display: flex;
    height: 134px;
    max-width: 134px;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: auto;
}

.product_service_section .product_service_wrp .product_service_block .icons__text-wrapper h4 {
    color: #828282;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.4;
    text-transform: uppercase;
    max-width: 130px;
    text-align: center;
    font-family: var(--argentum);
    letter-spacing: 0.1px;
    margin: auto;
}

.product_service_section .product_service_wrp .product_service_block .icons__text-wrapper .content-text p {
    margin: 5px 0 0 0;
}
  .product_service_section_slider {
    overflow: hidden;
    max-width:850px;
    margin:0 auto;
}
  .product_service_section .product_service_wrp .product_service_block .icon-block img {
    width: auto;
}
.at_your_service.product_service_section .product_service_wrp .product_service_block .icon-block {
    height: 150px;
    max-width: 150px;
}
  .product_service_section_title .main_title {
    margin-bottom: 48px;
}

@media(max-width:991px) {
  .product_service_section .product_service_wrp .product_service_block .icons__text-wrapper h4 {
    font-size: 12px;
}
  .product_service_section .product_service_wrp .product_service_block .icon-block {
    height: 104px;
    max-width: 70px;
}
  .product_service_section .product_service_wrp .product_service_block .icon-block img {
    width: 100%;
    object-fit: contain;
    max-height: 75px;
}
  .at_your_service.product_service_section .product_service_wrp .product_service_block .icon-block {
    height: 100px;
    max-width: 100px;
}
  .at_your_service.product_service_section .product_service_wrp .product_service_block .icon-block img {
    max-height: 100%;
}
  .product_service_section_title .main_title {
    margin-bottom: 35px;
}
}  

@media(max-width:576px) {
  .product_service_section .product_service_wrp .product_service_block .icon-block img {
    max-height: 45px;
}
  .product_service_section .product_service_wrp .product_service_block .icon-block {
    height: 84px;
    max-width: 55px;
}
  .product_service_section .product_service_wrp .product_service_block .icons__text-wrapper h4 {
    font-size: 10px;
}
  .product_service_section_title .main_title {
    margin-bottom: 32px;
    font-size: 20px;
}


}

 {% endstyle %}

{% style %}
.section_{{ section.id }}.product_service_section {
    background: {{ section.settings.bgcolor }};
}
{% endstyle %}

{% if product.metafields.product.service != blank %}
{% assign textColor = section.settings.textcolor %}
{% assign paddTop = section.settings.paddTop %}
{% assign padBottom = section.settings.padBottom %}
<div class="section_{{ section.id }} product_service_section cus_padding {% if paddTop == true and padBottom == true %} pt_90 pb_90 {% elsif padBottom == true %}pb_90 {% elsif paddTop == true %}pt_90{% endif %} {{ section.settings.customClass }}">
  <div class="page-width">
    <div class="product_service_section_title">
      <h2 class="main_title">{{ section.settings.title }}</h2>
    </div>
    <div class="product_service_section_slider swiper-container">
      <div class="product_service_wrp swiper-wrapper">
        {% for block in product.metafields.product.service %}
         {% assign i = forloop.index0 %} 
          <div class="product_service_block swiper-slide">
            {% if product.metafields.product.service[i] != blank %}
              <div class="icon-block">
                 <img src="{{ product.metafields.product.service[i] }}" loading="lazy" alt="">
              </div>
            {% endif %}
            <div class="icons__text-wrapper">
              {%- if product.metafields.pro.ico[i] != blank -%}
                <h4 class="title_text" stye="color: {{ textColor }};">{{ product.metafields.pro.ico[i] }}</h4>
              {%- endif -%}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endif %}
  

<script>
  var swiper = new Swiper(".section_{{ section.id }} .product_service_section_slider", {
    slidesPerView: 3,
    spaceBetween: 10,
    grabCursor: true,
    loop: true,
    autoplay: {
      delay: 2500,
      disableOnInteraction: false,
    },
    breakpoints: {
      400: {
        slidesPerView: 4,
        spaceBetween: 10,
      },
      575: {
        slidesPerView: 4,
        spaceBetween: 10,
      },
      700: {
        slidesPerView: 4,
        spaceBetween: 30
      },
      992: {
        slidesPerView: 4,
        spaceBetween: 56
      },
    }
  });
</script>

{% schema %}
  {
    "name": "Product Service Icon",
    "class": "product_service_icon",
    "settings": [
      {
        "type":"color",
        "id":"bgcolor",
        "label":"Add Background Color",
        "default":"#fff"
      },
      {
        "type":"color",
        "id":"textcolor",
        "label":"Add Text Color",
        "default":"#828282"
      },
      {
        "type":"checkbox",
        "id":"paddTop",
        "label":"Padding Top",
        "default":false
      },
      {
        "type":"checkbox",
        "id":"padBottom",
        "label":"Padding Bottom",
        "default":true
      },
      {
        "type":"text",
        "id":"customClass",
        "label":"Add Custom Class"
      },
      {
        "type":"html",
        "id":"title",
        "label":"Title"
      }
    ],
     "blocks": [
  ],
    "presets": [
      {
        "name": "Product Service Icon"
      }
    ]
  }
{% endschema %}