{{ 'product-list-section.css' | asset_url | stylesheet_tag }}


<div class="product_list_section pt_90">
  <div class="product_list_container">

    <div class="product_list_text">
      {% if section.settings.title != blank %}
        <h2 class="main_title">{{ section.settings.title }}</h2>
      {% endif %}
      {% if section.settings.content != blank %}
       <span>{{ section.settings.content }}</span>
      {% endif %}  
    </div>
    
    <div class="product_list_block product_list_flex">
         <div class="product_list_flex_wrap">
           {%- for listproduct in section.settings.product_list -%}
              <div class="product_list_slide hide_block-{{ forloop.index }}">
                 <a class="product_list_url" href="{{ listproduct.url }}"> 
                   <div class="product_list_wrp">
                   <figure>
                     <img src="{{ listproduct.featured_media | img_url : "master" }}" loading="lazy" alt="{{ listproduct.featured_media.alt | escape }}">
                   </figure>
                   <div class="product_list_title">
                     <div class="product_list_title_wrp">
                      <h4 class="pro_list_title">
                        {% if listproduct.metafields.Product.list_title != blank %}
                        {{ listproduct.metafields.Product.list_title }}
                        {% else %} 
                        {{ listproduct.title }}
                        {% endif %}
                      </h4>
                      <div class="product_list_dec">{{ listproduct.metafields.product.list-dec }}</div>
                     </div>  
                       <span class="product_list-price-money">{{ listproduct.price | money }}</span>
                   </div>
                 </div>
                 </a> 
               </div>
           {% endfor %} 
         </div>
        {% if section.settings.button_link != blank %}  
        <div class="product_list_button"> 
          <a href="{{ section.settings.button_link }}" class="common_btn">{{ section.settings.btn_text }}</a>
         </div>  
        {% endif %}
      </div>
    
  </div>
</div>


<script>
document.addEventListener('DOMContentLoaded', (event) => {

const product_list_cus = document.querySelector('.product_list_flex_wrap');
let isDown = false;
let startX;
let scrollLeft;

product_list_cus.addEventListener('mousedown', (e) => {
  isDown = true;
  product_list_cus.classList.add('active');
  startX = e.pageX - product_list_cus.offsetLeft;
  scrollLeft = product_list_cus.scrollLeft;
  e.preventDefault();
});

product_list_cus.addEventListener('mouseleave', () => {
  isDown = false;
  product_list_cus.classList.remove('active');
});

product_list_cus.addEventListener('mouseup', () => {
  isDown = false;
  product_list_cus.classList.remove('active');
});

product_list_cus.addEventListener('mousemove', (e) => {
  if (!isDown) return; // Do nothing if not dragging
  
  e.preventDefault(); // Prevents default mouse behavior like text selection
  
  const x = e.pageX - product_list_cus.offsetLeft;
  const walk = (x - startX) * 3; // Scrolling speed factor (higher means faster)
  product_list_cus.scrollLeft = scrollLeft - walk;

  // Make it smooth using requestAnimationFrame
  window.requestAnimationFrame(() => {
    product_list_cus.scrollLeft = scrollLeft - walk;
  });
});

  
});

</script>


{% schema %}
  {
    "name": "Product List Section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "richtext",
        "id": "content",
        "label": "Content"
      },
      {
        "type": "text",
        "id": "btn_text",
        "label": "Button Text",
        "default" : "VIEW ALL"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      },
      {
        "type": "product_list",
        "id": "product_list",
        "label": "Products",
        "limit": 8
      }
    ],
    "presets": [
      {
         "name": "Product List Section",
      }
    ]
  }
{% endschema %}