{%- if section.settings.show_promo and section.blocks.size > 0 -%}
{{ 'component-promo-box.css' | asset_url | stylesheet_tag }}
{%- if section.blocks.size > 0 -%}
<div class="promo_box_data" style="display:none !important;">
  {%- for block in section.blocks -%}
  {% if block.settings.promo_item != blank %}
  {%- assign product = all_products[block.settings.promo_item] -%}
  <div data-url="{{ product.url }}" data-p="{{ block.settings.sub_text }}" data-image="{{ product.featured_image.src | product_img_url: '100x' }}" data-alt="{{ product.featured_image.alt }}" data-name="{{ product.title }}"
       data-text="{{ block.settings.text_1 }}{% if block.settings.text_2 != blank %}||{{ block.settings.text_2 }}{% endif %}{% if block.settings.text_3 != blank %}||{{ block.settings.text_3 }}{% endif %}{% if block.settings.text_4 != blank %}||{{ block.settings.text_4 }}{% endif %}{% if block.settings.text_5 != blank %}||{{ block.settings.text_5 }}{% endif %}"
       data-min="{{ block.settings.value_min }}" data-max="{{ block.settings.value_max }}" ></div>
  {%- endif -%}
  {%- endfor -%}
</div>
{%- endif -%}
<div id="Promo_box" class="promo-box{% unless section.settings.show_on_mobile %} promo-hide-mobile{% endunless %}" data-start="{{ section.settings.value_first | times: 1000 | round }}" data-min="{{ section.settings.value_min | times: 1000 | round }}" data-max="{{ section.settings.value_max | times: 1000 | round }}">
  <button class="promo_close">x</button>
  
    <div class="row">
      <div class="col-3">
        <figure class="promo_img"><a class="promo_url" href=""><img width="100%" src="" alt=""></a></figure>
      </div>
      <div class="col">
        <a class="promo_url" href="">
        <div class="promo_description">
          <div class="promo_box_top">
            <p class="promo_p"></p>
            <h6 class="promo_name"></h6>
          </div>
          <div class="promo_info">
            <span class="info_value"></span> <span class="info_text"></span>
          </div>
        </div>
        </a>
      </div>
    </div> 
  
</div>
{%- endif -%}
{% style %}
  
{% endstyle %}
<script>
      {% comment %} document.addEventListener("DOMContentLoaded", function() {
if($("#Promo_box").length != 0){
    var Promobox = {
      promoBox: $("#Promo_box"),
      promoBoxdata: $(".promo_box_data"),
      promoboxclose: $(".promo_close"),
      init: function(){
        setTimeout(Promobox.Promoboxinit(), 10000);
      },
      Promoboxinit: function(){
        if($(window).width < 991) return false;
        Promobox.SetPromoData(Promobox.promoBox, Promobox.promoBoxdata);
        Promobox.ShowPromoBox(Promobox.promoBox, Promobox.promoBox.data('start'));
        Promobox.ShowPromoBoxNext(Promobox.promoBox, Promobox.promoBoxdata, Promobox.promoboxclose)
        Promobox.promoboxclose.click(function(){
          Promobox.promoBox.removeClass('newevent');
        });
      },
      SetPromoData: function($modal, $data){
        var i = Promobox.GetPromoIndex($data)
        var data = $data.children().eq(i);
        $modal.find('.promo_url').attr('href', data.data('url'));
        $modal.find('.promo_img').find('img').attr('src', data.data('image')).attr('alt', data.data('alt'));
        $modal.find('.promo_name').text(data.data('name'));
        $modal.find('.promo_p').text(data.data('p'));
        var nummin = parseInt(data.data('min')), nummax = parseInt(data.data('max')), num = Math.floor(Math.random() * (nummax - nummin) ) + nummin;
        // $modal.find('.info_value').text(num);
        if (typeof data.data('text') === typeof undefined) return false;
        var str = data.data('text').split('||'), i = Math.floor(Math.random() * (0, str.length-1) ) + 0;
        $modal.find('.info_text').text(str[i]);
      },
      ShowPromoBox: function($parent, delay){
        setTimeout(function(){
          $parent.addClass('newevent');
        }, delay);
      },
      GetPromoIndex: function(){
        var min = 0, max = Promobox.promoBoxdata.children().length;
        return Math.floor(Math.random() * (max - min) ) + min;	
      },
      ShowPromoBoxNext: function($modal, $data, $close){
        var nextmin = $modal.data('min'), nextmax = $modal.data('max');
        var i = Math.floor(Math.random() * (nextmax - nextmin) ) + nextmin;
        setTimeout(function(){      
          $close.trigger('click');
          setTimeout(function(){
            Promobox.SetPromoData($modal, $data);
            Promobox.ShowPromoBox($modal, 0);
            Promobox.ShowPromoBoxNext($modal, $data, $close);
          }, 10000);
        }, i);
      }
    };
    Promobox.init();
  } 
}); {% endcomment %}
document.addEventListener("DOMContentLoaded", function() {
  if($("#Promo_box").length != 0){
    var Promobox = {
      promoBox: $("#Promo_box"),
      promoBoxdata: $(".promo_box_data"),
      promoboxclose: $(".promo_close"),
      init: function(){
        setTimeout(Promobox.Promoboxinit(), 10000);
      },
      Promoboxinit: function(){
        if($(window).width < 991) return false;
        Promobox.SetPromoData(Promobox.promoBox, Promobox.promoBoxdata);
        Promobox.ShowPromoBox(Promobox.promoBox, Promobox.promoBox.data('start'));
        Promobox.ShowPromoBoxNext(Promobox.promoBox, Promobox.promoBoxdata, Promobox.promoboxclose);
        Promobox.promoboxclose.click(function(){
          Promobox.promoBox.removeClass('newevent');
        });
      },
      SetPromoData: function($modal, $data){
        var i = Promobox.GetPromoIndex($data);
        var data = $data.children().eq(i);
        $modal.find('.promo_url').attr('href', data.data('url'));
        $modal.find('.promo_img').find('img').attr('src', data.data('image')).attr('alt', data.data('alt'));
        $modal.find('.promo_name').text(data.data('name'));
        $modal.find('.promo_p').text(data.data('p'));
        var nummin = parseInt(data.data('min')), nummax = parseInt(data.data('max')), num = Math.floor(Math.random() * (nummax - nummin)) + nummin;
        if (typeof data.data('text') === typeof undefined) return false;
        var str = data.data('text').split('||'), i = Math.floor(Math.random() * (0, str.length - 1)) + 0;
        $modal.find('.info_text').text(str[i]);
      },
      ShowPromoBox: function($parent, delay){
        setTimeout(function(){
          $parent.addClass('newevent');
        }, delay);
      },
      GetPromoIndex: function(){
        var min = 0, max = Promobox.promoBoxdata.children().length;
        return Math.floor(Math.random() * (max - min)) + min;
      },
      isShouldBlock: function(){
        var $search = $('.predictive-search');
        var isSearchOpen = false;
        if($search.length > 0){
          var display = $search.css('display');
          var visibility = $search.css('visibility');
          var opacity = parseFloat($search.css('opacity'));
          var hasOpenAttr = $('predictive-search-component[open]').length > 0;
          isSearchOpen = (
            display !== 'none' &&
            visibility !== 'hidden' &&
            opacity > 0
          ) || hasOpenAttr;
        }
        var isMenuOpen = $('.menu_left_drawer').hasClass('active');
        return isSearchOpen || isMenuOpen;
      },
      ShowPromoBoxNext: function($modal, $data, $close){
        var nextmin = $modal.data('min'), nextmax = $modal.data('max');
        var i = Math.floor(Math.random() * (nextmax - nextmin)) + nextmin;
        setTimeout(function(){
          if(!Promobox.isShouldBlock()){
            $close.trigger('click');
          }
          setTimeout(function(){
            if(!Promobox.isShouldBlock()){
              Promobox.SetPromoData($modal, $data);
              Promobox.ShowPromoBox($modal, 0);
            }
            Promobox.ShowPromoBoxNext($modal, $data, $close);
          }, 10000);
        }, i);
      }
    };
    Promobox.init();
  }
});
</script>
{% schema %}
{
    "name": "Advertising Products Box",
    "settings": [
        {
            "type": "checkbox",
            "id": "show_promo",
            "label": "Show PromoBox",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "show_on_mobile",
            "label": "Show on mobile devices",
            "default": false
        },
        {
            "type": "header",
            "content": "Modal delay settings"
        },        
        {
            "type": "text",
            "id": "value_first",
            "label": "Delay before first message after page load",
            "default": "0",
            "info": "Add integer value in seconds."
        },
        {
            "type": "text",
            "id": "value_min",
            "label": "Minimum Random range in seconds with next product.",
            "default": "10",
            "info": "Add integer value in seconds."
        },
        {
            "type": "text",
            "id": "value_max",
            "label": "Maximum Random range in seconds with next product.",
            "default": "40",
            "info": "Add integer value in seconds."
        }
    ],
    "blocks": [
        {
            "type": "item",
            "name": "Product Item",
            "settings": [
                {
                    "type": "product",
                    "id": "promo_item",
                    "label": "Select product"
                },
                {
                    "type": "textarea",
                    "id": "sub_text",
                    "label": "Sub Title",
                    "default": "Someone near by you just purchase"
                },
                {
                    "type": "text",
                    "id": "value_min",
                    "label": "Minimum range with minutes.",
                    "default": "1",
                    "info": "Add random integer time of purchase."
                },
                {
                    "type": "text",
                    "id": "value_max",
                    "label": "Maximum range with minutes.",
                    "default": "16",
                    "info": "Add random integer time of purchase."
                },
                {
                    "type": "text",
                    "id": "text_1",
                    "label": "Product advertising text",
                    "default": "Ago from new york, USA"
                },
                {
                    "type": "text",
                    "id": "text_2",
                    "label": "Random product advertising text",
                    "default": "Ago from berlin, germany"
                },
                {
                    "type": "text",
                    "id": "text_3",
                    "label": "Product advertising text",
                    "default": "Ago from tokyo, japan"
                },
                {
                    "type": "text",
                    "id": "text_4",
                    "label": "Product advertising text",
                    "default": "Ago from moscow, russia"
                },
                {
                    "type": "text",
                    "id": "text_5",
                    "label": "Product advertising text",
                    "default": "Ago from london, england"
                }
            ]
        }
    ]
}
{% endschema %}