
<div class="work-section">
  <div class="exosome-container">
    {% if section.settings.heading != blank %}
      <h2 class="exosome-heading main_title">{{ section.settings.heading }}</h2>
    {% endif %}

    <div class="exosome-grid">
      {% for block in section.blocks %}
        <div class="exosome-block">
          {% if block.settings.image != blank %}
            <div class="exosome-img-wrap">
              <img src="{{ block.settings.image | img_url: '400x' }}" alt="{{ block.settings.image.alt }}" loading="lazy" />
            </div>
          {% endif %}
          <div class="contant">
              <h3 class="exosome-sub">{{ block.settings.sub_heading }}</h3>
              <p class="exosome-desc">{{ block.settings.description }}</p>
          </div>

        </div>
      {% endfor %}
    </div>
  </div>
</div>

<style>
.work-section {
	 padding: 48px 0;
}
 .work-section .exosome-container {
	 max-width: 1320px;
	 margin: 0 auto;
	 padding: 0 16px;
	 justify-items: center;
}
 .work-section .exosome-container .exosome-heading {
	 text-align: center;
	 margin: 0 0 48px;
	 text-transform: uppercase;
}
 .work-section .exosome-container .exosome-grid {
	 display: grid;
	 grid-template-columns: repeat(2, 1fr);
	 gap: 16px;
	 width: 100%;
}
 .work-section .exosome-container .exosome-grid .exosome-block {
	 display: flex;
	 gap: 24px;
	 align-items: end;
	 border: 1px solid #bdbdbd;
	 background: #fafafa;
}
 .work-section .exosome-container .exosome-grid .exosome-block .exosome-img-wrap img {
	 max-width: 167px;
	 max-height: 218px;
	 width: auto;
	 height: auto;
	 vertical-align: middle;
	 object-fit: cover;
}
 .work-section .exosome-container .exosome-grid .exosome-block .contant {
	 padding: 20px 20px 20px 0;
}
 .work-section .exosome-container .exosome-grid .exosome-block .contant .exosome-sub {
	 margin: 0 0 10px;
	 font-weight: 400;
	 font-size: 24px;
	 line-height: 28px;
	 letter-spacing: normal;
}
 .work-section .exosome-container .exosome-grid .exosome-block .contant .exosome-desc {
	 margin: 0;
	 font-weight: 300;
	 font-size: 20px;
	 line-height: 100%;
	 color: #000;
}

.work-section .exosome-container .exosome-heading br{
  display: none;
}

.work-section .exosome-container .exosome-grid .exosome-block .contant .exosome-sub br{
  display : none;
}

/* Mobile */
 @media (max-width: 767px) {
	 .work-section {
		 padding: 28px 0;
	}
	 .work-section .exosome-container .exosome-grid {
		 grid-template-columns: 1fr;
	}
	 .work-section .exosome-container .exosome-grid .exosome-block {
		 gap: 16px;
		 min-width: 100%;
	}
	 .work-section .exosome-container .exosome-grid .exosome-block .contant {
		 padding: 16px 16px 16px 0;
	}
	 .work-section .exosome-container .exosome-grid .exosome-block .contant .exosome-desc {
		 font-size: 18px;
	}

	.work-section .exosome-container .exosome-heading br{
	  display: block;
	}

	
	.work-section .exosome-container .exosome-grid .exosome-block .contant .exosome-sub br{
     	display : block;
	}

	.work-section .exosome-container .exosome-heading{
	  margin-bottom: 16px;
	}

}
 @media (max-width: 575px) {
	 .work-section .exosome-container .exosome-heading {
		 font-size: 30px;
	}

	.work-section .exosome-container .exosome-grid .exosome-block .contant .exosome-sub{
	  font-size: 18px;
	  line-height: 20px;
	}

	 .work-section .exosome-container .exosome-grid .exosome-block .contant .exosome-desc {
		 font-size: 16px;
	}

}
 @media (max-width: 475px) {
	 .work-section .exosome-container .exosome-heading {
		 max-width: 230px;
	}
	
}
 @media (max-width: 375px) {
	 
	 .work-section .exosome-container .exosome-grid .exosome-block .exosome-img-wrap img {
		 max-width: 140px;
	}
	 .work-section .exosome-container .exosome-grid .exosome-block .contant {
		 padding: 8px 8px 8px 0;
	}
	
	 .work-section .exosome-container .exosome-grid .exosome-block .contant .exosome-desc {
		 font-size: 14px;
	}
}
 
</style>

{% schema %}
{
  "name": "Serum Work",
  "settings": [
    {
      "type": "html",
      "id": "heading",
      "label": "Heading",
      "default": "Do Exosome Serum Work?"
    }
  ],
  "blocks": [
    {
      "type": "feature",
      "name": "Feature Block",
      "settings": [
        { "type": "image_picker", "id": "image", "label": "Image" },
        { "type": "html", "id": "sub_heading", "label": "Sub Heading" },
        { "type": "textarea", "id": "description", "label": "Description" }
      ]
    }
  ],
  "max_blocks": 4,
  "presets": [
    {
      "name": "Serum Work"
    }
  ]
}
{% endschema %}
