{{ 'skincare-grid-section.css' | asset_url | stylesheet_tag }}
 
<section class="section_{{ section.id }} skincare-grid-section {% if section.settings.padding_top == true %}pt_90{% endif %} {% if section.settings.padding_bottom == true %}pb_90 {% endif %}{% if section.settings.mobile_show_section == true %}desktop_hide{% endif %} {% if template.suffix == 'faq' %}FAQcoll{% else %}{% endif %}">
  <div class="{% if section.settings.remove_slider == true %}page-width{% else %}skin_container{% endif %}">
    <div class="skincare-text-block">
      {% if section.settings.title != blank %}
        <h2 class="main_title">{{ section.settings.title }}</h2>
      {% endif %}
      {% if section.settings.content != blank %}
       <span class="f-400">{{ section.settings.content }}</span>
      {% endif %}  
    </div>

    <div class="skincare_product_block">
      <div class="skincare_slide_block {% if section.settings.remove_slider == true %}swiper-container{% else %}skincare_flex{% endif %}">
         <div class="{% if section.settings.remove_slider == true %}swiper-wrapper{% else %}skincare_flex_wrap{% endif %}">
           {% for block in section.blocks %}
               <div class="{% if section.settings.remove_slider == true %}swiper-slide{% else %}skincare_slide{% endif %}{% if block.settings.mobile_hide == true %} mobile_block_hide{% endif %}">
                 {% assign product = block.settings.product %}
                 <a class="skin_pro_url" href="{{ product.url }}"> 
                 <div class="skin_pro_wrp" style="background:{{ section.settings.bgColor }};"> 


                   {% if block.settings.image_frist != blank and block.settings.image_second != blank %}  
                   <figure>
                     <img class="img_show" src="{{ block.settings.image_frist | image_url: width: 800 }}" loading="lazy" alt="" width="800" height="800">
                     <img class="img_hide" src="{{ block.settings.image_second | image_url: width: 800 }}" loading="lazy" alt="" width="800" height="800">
                   </figure>
                  {% else %}
                     
                   {% if product.featured_media != blank %}
                    <figure>
                      <img class="img_show" src="{{ product.featured_media | image_url: width: 800 }}" loading="lazy" alt="{{ product.featured_media.alt | escape }}" width="800" height="800">
                      <img class="img_hide" src="{{ block.settings.image_second | image_url: width: 800 }}" loading="lazy" alt="" width="800" height="800">
                    </figure>
                   {% endif %}
                     
                  {% endif %}
                     
                   {% if product.title != blank or block.settings.product_sub_text != blank %}
                   <div class="skin_pro_title">
                     <div class="skin_pro_title_wrp">

                       {% if settings.black_friday_special == true %}

                {% if settings.black_friday_special_text != blank or product.metafields.custom.christmas_text != blank %}
                    <div class="bf_black_bar">
                            {% if settings.Image_black_friday != blank %} 
                        <img src="{{ settings.Image_black_friday | image_url: width: 200 }}" loading="lazy" alt="" width="200" height="200">
                    {% else %}
                    {% if product.metafields.custom.christmas_text != blank %}
                      <img src="https://cdn.shopify.com/s/files/1/0693/9849/5445/files/giftbox_2.png?v=1764911691" alt="Metamorphosis Gift Box" loading="lazy" width="300" height="300"> 
                      {% endif %}	
                    {% endif %} 
                    {% if settings.black_friday_special_text != blank or product.metafields.custom.christmas_text != blank %}
                    <div class="bf_text_block">{% if settings.black_friday_special_text != blank %}{{ settings.black_friday_special_text }}{% else %}{{ product.metafields.custom.christmas_text }} {% endif %} </div>
                  {% endif %} 
                  </div>
                  {% endif %}

                  {% endif %}

                      <h4 class="pro_title">
                        {% if block.settings.product_title != blank %}
                        {{ block.settings.product_title }}
                          {% else %}
                        {{ product.title }}
                        {% endif %}
                      </h4>
                      <div class="pro_dec f-400">{{ block.settings.product_sub_text }}</div>
                     </div>  

                       {% comment %} <span class="skin-price-money">{{ product.price | money }}</span> {% endcomment %}

                       <div class="skin_car_price_wrp">
                       {% if product.compare_at_price > product.price %}
                         <span class="original-price skin-price-money"><s>{{ product.compare_at_price | money }}</s></span>
                        <span class="sale-price skin-price-money">{{ product.price | money }}</span>
                      {% else %}
                        <span class="regular-price">{{ product.price | money }}</span>
                      {% endif %}
                      </div> 

                   </div>
                  {% endif %}
                {% if block.settings.add_to_cart == true %}
                     {% comment %}
                    <div class="skin_buy_now">
                     <button class="buynow-btn common_btn" title="Buy" data-id="{{ product.selected_or_first_available_variant.id }}">
                       {{ block.settings.buy_bow }}
                     </button>
                    </div> 
                  {% endcomment %} 

                   <product-form class="product-form" data-hide-errors="{{ gift_card_recipient_feature_active }}">
                        <div class="product-form__error-message-wrapper" role="alert" hidden>
                          <svg
                            aria-hidden="true"
                            focusable="false"
                            role="presentation"
                            class="icon icon-error"
                            viewBox="0 0 13 13"
                          >
                            <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/></circle>
                            <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/></circle>
                            <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/></path>
                            <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7"></path>
                          </svg>
                          <span class="product-form__error-message"></span>
                        </div>
                        {%- assign product_form_id = 'product-form-' | append: section.id -%}      
                        {%- form 'product',
                          product,
                          id: product_form_id,
                          class: 'form',
                          novalidate: 'novalidate',
                          data-type: 'add-to-cart-form'
                        -%}
                          <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}" disabled>
        
                          <div class="product-form__buttons" style="margin:0;">
                            <button id="ProductSubmitButton-{{ section.id }}" type="submit" name="add" class="product-form__submit common_btn product-section__button"                          
                                {% if block.settings.show_dynamic_checkout and product.selling_plan_groups == empty %}button--secondary{% else %}button--primary{% endif %}
                              
                              {% if product.selected_or_first_available_variant.available == false %}
                                disabled
                              {% endif %}
                            >
                              {%- if product.selected_or_first_available_variant.available -%}
                                {{ 'products.product.add_to_cart' | t }}
                              {%- else -%}
                                {{ 'products.product.sold_out' | t }}
                              {%- endif -%}
                            </button>
                          </div>
                        {%- endform -%}
                      </product-form>
                  
                  {% endif %}  

                  {% if settings.show_dicount_badge == true %}
                    {% if settings.discount_badge_img != blank or product.metafields.custom.dicoount_badge != blank %}	
                    <div class="dicoount_badge">
                      <img src="{% if settings.discount_badge_img != blank %}{{ settings.discount_badge_img | image_url: width: 200 }}{% else %}{{ product.metafields.custom.dicoount_badge | image_url: width: 200 }}{% endif %}" alt="{{ product.metafields.custom.dicoount_badge.value | default: 'Discount badge' }}" loading="lazy" width="200" height="200">
                    </div> 
                    {% endif %} 	
                  {% endif %}	

                 </div> 
                 </a> 
               </div>
           {% endfor %}
         </div>
        {% if section.settings.remove_slider != true %}  
        {% if section.settings.button_link != blank %}  
            <div class="skincare_list_button"> 
              <a href="{{ section.settings.button_link }}" class="common_btn">{{ section.settings.btn_text }}</a>
             </div>  
            {% endif %}
        {% endif %}
        {% if section.settings.remove_slider == true %}
         <div class="skin_care_dot">
          <div class="swiper-pagination"></div>
         </div>
        {% endif %}
      </div>
    </div>
    
  </div>
</section>

{% if section.settings.remove_slider == true %}
<script>
  var swiper = new Swiper(".section_{{ section.id }} .skincare_slide_block", {
    slidesPerView: 1.3,
    spaceBetween: 16,
    grabCursor: true,
    loop: true,
    breakpoints: {
      400: {
        slidesPerView: 1.3
      },
      700: {
        slidesPerView: 2.5,
        spaceBetween: 18
      },
      992: {
        slidesPerView: 3
      },
    },
     pagination: {
      el: ".skin_care_dot .swiper-pagination",
      clickable: true
    },
  });
</script>
{% endif %}  

<script>
  $(document).ready(function(){
     $('.section_{{ section.id }} .buynow-btn').click(function(event){
         event.preventDefault();
        let formData = {
             'items': [{
             'id': $(this).data('id'),
             'quantity': 1
             }]
            };
         fetch(window.Shopify.routes.root + 'cart/add.js', {
             method: 'POST',
              headers: {
                'Content-Type': 'application/json'
           },
             body: JSON.stringify(formData)
            })
            .then(response => {
              return response.json();
           })
              .then(response => {
                window.location.href = "/checkout";
           })
            .catch((error) => {
              console.error('Error:', error);
            });
     });
  }); 
</script>

<script>
document.addEventListener('DOMContentLoaded', (event) => {

const slider_cus = document.querySelector('.skincare_flex_wrap');
let isDown = false;
let startX;
let scrollLeft;

slider_cus.addEventListener('mousedown', (e) => {
  isDown = true;
  slider_cus.classList.add('active');
  startX = e.pageX - slider_cus.offsetLeft;
  scrollLeft = slider_cus.scrollLeft;
  // Prevent the default drag behavior (text selection etc.)
  e.preventDefault();
});

slider_cus.addEventListener('mouseleave', () => {
  isDown = false;
  slider_cus.classList.remove('active');
});

slider_cus.addEventListener('mouseup', () => {
  isDown = false;
  slider_cus.classList.remove('active');
});

slider_cus.addEventListener('mousemove', (e) => {
  if (!isDown) return; // Do nothing if not dragging
  
  e.preventDefault(); // Prevents default mouse behavior like text selection
  
  const x = e.pageX - slider_cus.offsetLeft;
  const walk = (x - startX) * 3; // Scrolling speed factor (higher means faster)
  slider_cus.scrollLeft = scrollLeft - walk;

  // Make it smooth using requestAnimationFrame
  window.requestAnimationFrame(() => {
    slider_cus.scrollLeft = scrollLeft - walk;
  });
});

  
});

</script>


{% schema %}
  {
    "name": "Skincare Grid",
    "settings": [
      {
        "type": "checkbox",
        "id": "mobile_show_section",
        "label": "Desktop Hide",
      },
      {
        "type": "checkbox",
        "id": "padding_top",
        "label": "Padding Top",
      },
      {
        "type": "color",
        "id": "bgColor",
        "label": "Select Background Color",
        "default":"#FAFAFA"
      },
      {
        "type": "checkbox",
        "id": "padding_bottom",
        "label": "Padding Bottom",
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "html",
        "id": "content",
        "label": "Content"
      },
      {
        "type": "checkbox",
        "id": "remove_slider",
        "label": "Carousel"
      },
      {
        "type": "text",
        "id": "btn_text",
        "label": "Button Text",
        "default" : "VIEW ALL"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      }
    ],
     "blocks": [
      {
        "type":"block",
        "name":"Block",
        "settings": [
          {
            "type": "checkbox",
            "id": "mobile_hide",
            "label": "Mobile Hide Block",
            "default": false
          },
          {
            "type": "product",
            "id": "product",
            "label": "Product"
          },
          {
            "type": "image_picker",
            "id": "image_frist",
            "label": "Image Frist"
          },
          {
            "type": "image_picker",
            "id": "image_second",
            "label": "Image Second"
          },
          {
            "type": "richtext",
            "id": "product_sub_text",
            "label": "Product Sub Text"
          },
          {
            "type": "html",
            "id": "product_title",
            "label": "Product Title"
          },
          {
            "type": "checkbox",
            "id": "add_to_cart",
            "label": "ADD TO CART"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Skincare Grid",
      }
    ]
  }
{% endschema %}