<style>
  .vanity-section {
    padding:0 15px;
    padding-top: {% if section.settings.top-padding %}60px{% endif %};
    padding-bottom:{% if section.settings.bottom-padding %}60px{%endif%};
    text-align: center;
  }
  .vanity-section p{
    margin:0;
  }
  .vanity-section .vanity-container{
    max-width: 1300px;
    margin:0 auto;
  }

  .vanity-section .vanity-heading {
    max-width: 745px;
    margin: 0 auto 36px;
  }

  .vanity-section .vanity-heading h2 {
      font-weight: 500;
      font-size: 42px;
      line-height: normal;
      text-align: center;
      max-width: 630px;
      margin: 0 auto 16px;
  }

  .vanity-section .vanity-heading p {
    font-family: var(--cormorant);
    font-weight: 400;
      font-size: 20px;
      line-height: normal;
      text-align: center;
    color: #000;
  }
  .vanity-section .vanity-heading p em{
    margin-top: 8px;
      display: block;
  }

  .vanitycards{
    display: flex;
    flex-wrap: wrap;
    gap:16px;
  }
  .vanitycards > div{
      width:calc(33.33% - 10.66px);
    }

  .vanity-section .card-box {

    background: #f8f8f8;
    text-align: left;
    display: flex;
    flex-direction: column;
  }

  .vanity-section .card-box img {
    width: 100%;
    height: auto;
    vertical-align: middle;
  }
  .vanity-section .card-text{
    height: 100%;
    padding: 16px;
    border: 1px solid #E0E0E0;
  }


  .vanity-section .card-text .card-heading{
    font-family: var(--cormorant);
    font-weight: 700;
    font-size: 20px;
    line-height: normal;
    text-align: center;
    margin:0 0 4px;
    letter-spacing: normal;
  }
  .vanity-section .card-text .text {
    font-family: var(--cormorant);
    font-weight: 400;
      font-size: 20px;
      line-height: normal;
      text-align: center;
  }

  .vanity-section .highlight {
    color: #e60023;
    font-weight: bold;
  }

  .vanity-section .onliy-text{
        display: flex;
      flex-direction: column;
      align-items: self-start;
      padding: 24px 30px;
      border: 1px solid #CA003D;
      justify-content: center;
  }
  .vanity-section .onliy-text .text>*{
    font-family: var(--argentum);
    text-align: start;
    font-weight: 400;
    font-size: 32px;
    line-height: normal;
    text-transform: uppercase;
    max-width: 320px;
    margin:0;
    margin: 13px 22px 0;
  }
  @media (max-width: 1180px) {
  .vanity-section .onliy-text .text>*{
    margin: 13px 0 0;
  }
}
  @media (max-width: 991px) {
    .vanitycards > div{
      width:calc(50% - 8px);
    }
  .vanitycards > div:first-child{
    width: 100%;
  }
  .vanity-section .onliy-text .text>* {
      margin: 13px 22px 0;
  }
  }
  /* Responsive */
  @media (max-width: 768px) {
    .vanity-section {
    padding-top: {% if section.settings.top-padding %}40px{% endif %};
    padding-bottom:{% if section.settings.bottom-padding %}40px{%endif%};
  }
    .vanity-section .vanity-heading h2 {
      font-size: 30px;
    }
    .vanity-section .vanity-heading{
      margin-bottom: 24px;
    }
    .vanity-section .card-text{
      padding: 16px 8px;
    }
    .vanity-section .card-text .card-heading{
      font-size: 18px;
    }
    .vanity-section .card-text .text{
      font-size: 18px;
    }
  }
  @media (max-width: 575px) {
    .vanity-section .vanity-heading h2 {
        max-width: 230px;
    }
  }

  @media(max-width: 350px){
    .vanity-section .vanity-heading h2 {
      font-size: 22px;
    }
    .vanity-section .vanity-heading p{
      font-size: 18px;
    }
    .vanity-section .onliy-text .text>* {
        margin: 13px 0 0;
    }
  }
</style>

<div class="vanity-section">
  <div class="vanity-container">
    <div class="vanity-heading">
      <h2>{{ section.settings.heading }}</h2>
      <div>{{ section.settings.subtext }}</div>
    </div>

    <div class="vanitycards">
        {% for block in section.blocks %}
          {% if block.type == 'card' and block.settings.image != blank %}
            <div class="card-box" style="{% if block.settings.bg_color_red == true %}
      background: #CA003D;
    {% endif %}">
              {% if block.settings.image != blank %}
                <img src="{{ block.settings.image | image_url }}" loading="lazy" alt="{{ block.settings.image.alt | escape }}">
              {% endif %}

              <div class="card-text" style="{% if section.settings.bg_color_red == true %}
      border: 1px solid #CA003D;{% endif %}">
                <h4 class="card-heading" style="{% if block.settings.bg_color_red == true %}color: #fff;{% endif %}">{{ block.settings['card-heading'] }}</h4>
                <div class="text" style="{% if block.settings.bg_color_red == true %}color: #fff;{% endif %}">
                  {{ block.settings.text }}
                </div>
              </div>
            </div>
          {% endif %}
          {% if block.type == 'card_text' %}
            {% if block.settings.text != blank %}
              <div class="onliy-text">
                <div class="icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="34" height="30" viewBox="0 0 34 30" fill="none">
                    <path d="M12.8367 30H0V17.093C0 14.7674 0.231293 12.5969 0.693878 10.5814C1.23356 8.48837 2.00454 6.66667 3.0068 5.11628C4.08617 3.56589 5.43537 2.32558 7.05442 1.39535C8.67347 0.465117 10.5624 0 12.7211 0V5.81395C11.4104 5.81395 10.3311 6.16279 9.48299 6.86047C8.63492 7.48062 7.94104 8.33334 7.40136 9.41861C6.86168 10.5039 6.47619 11.7442 6.2449 13.1395C6.0907 14.4574 6.01361 15.7752 6.01361 17.093H12.8367V30ZM34 30H21.1633V17.093C21.1633 14.7674 21.3946 12.5969 21.8571 10.5814C22.3968 8.48837 23.1678 6.66667 24.1701 5.11628C25.2494 3.56589 26.5986 2.32558 28.2177 1.39535C29.8367 0.465117 31.7256 0 33.8844 0V5.81395C32.5737 5.81395 31.4943 6.16279 30.6463 6.86047C29.7982 7.48062 29.1043 8.33334 28.5646 9.41861C28.0249 10.5039 27.6395 11.7442 27.4082 13.1395C27.254 14.4574 27.1769 15.7752 27.1769 17.093H34V30Z" fill="#F5ACB8"/>
                  </svg>
                </div>
                <div class="text">
                  {{ block.settings.text }}
                </div>
              </div>
            {% endif %}
          {% endif %}
        {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Vanity Showcase",
  "settings": [
    {
        "type": "checkbox",
        "id": "top-padding",
        "label": "Top padding",
    },
    {
        "type": "checkbox",
        "id": "bottom-padding",
        "label": "Bottom padding",
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "This was designed to live on your vanity."
    },
    {
      "type": "richtext",
      "id": "subtext",
      "label": "Sub Text"
    }
  ],
  "blocks": [
    {
      "type": "card",
      "name": "Card",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Card Image"
        },
        {
          "type": "text",
          "id": "card-heading",
          "label": "Card heading"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Card Text"
        },
        {
          "type": "checkbox",
          "id": "bg_color_red",
          "label": "Background color red"
        }
      ]
    },
    {
      "type": "card_text",
      "name": "Card Onliy text",
      "settings": [
        {
          "type": "textarea",
          "id": "text",
          "label": "Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Vanity Showcase",
      "category": "Custom"
    }
  ]
}
{% endschema %}
