{{ 'video-image-text.css' | asset_url | stylesheet_tag }}

<div class="about_vdimg {% if section.settings.marginBottom %}mb_90{% endif %}">
  <div class="about_vdimg_row {% if section.settings.container %}page-width{% else %}about_vdimg_row_containt{% endif %}">
    <div class="about_vdimg_col {{ section.settings.aligment }}" style="background-color: {{ section.settings.bgColor }};">
      <div class="about_vdimg_iner">
        {% if section.settings.video_url != blank and section.settings.img == blank %}
          <div class="video_loop_col">
            <div class="video_loop_inner">
              <video control="false" loop="true" muted="" width="100%" height="100%" poster="">
                <source type="video/mp4" src="{{ section.settings.video_url }}">
              </video>
            </div>
            <div class="video_sound_button">
              <svg xmlns="http://www.w3.org/2000/svg" width="35px" height="35px" viewBox="0 0 24 24" fill="none" class="sound_off">
                <g clip-path="url(#clip0_15_183)">
                <rect width="24" height="24"></rect>
                <path d="M3 16V8H6L11 4V20L6 16H3Z" stroke="#fff" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M14.5 15L20.5 9" stroke="#fff" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M14.5 9L20.5 15" stroke="#fff" stroke-linecap="round" stroke-linejoin="round"></path>
                </g>
                <defs>
                <clipPath id="clip0_15_183">
                <rect width="24" height="24"></rect>
                </clipPath>
                </defs>
              </svg>
              <svg xmlns="http://www.w3.org/2000/svg" width="35px" height="35px" viewBox="0 0 24 24" fill="none" class="sound_on" style="display:none;">
                <g clip-path="url(#clip0_15_174)">
                <rect width="24" height="24"></rect>
                <path d="M3 16V8H6L11 4V20L6 16H3Z" stroke="#fff" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M13 9C13 9 15 9.5 15 12C15 14.5 13 15 13 15" stroke="#fff" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M15 7C15 7 18 7.83333 18 12C18 16.1667 15 17 15 17" stroke="#fff" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M17 5C17 5 21 6.16667 21 12C21 17.8333 17 19 17 19" stroke="#fff" stroke-linecap="round" stroke-linejoin="round"></path>
                </g>
                <defs>
                <clipPath id="clip0_15_174">
                <rect width="24" height="24"></rect>
                </clipPath>
                </defs>
              </svg>
            </div>
            <div class="video_play_push_button">
              <svg xmlns="http://www.w3.org/2000/svg" width="35px" height="35px" viewBox="0 0 24 24" fill="none" class="push_on" style="display:none;">
                <path d="M8 5V19M16 5V19" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
              <svg xmlns="http://www.w3.org/2000/svg" width="35px" height="35px" viewBox="0 0 256 256" class="play_on">
                <path d="M59 61.922c0-9.768 13.016-15.432 22.352-11.615 10.695 7.017 101.643 58.238 109.869 65.076 8.226 6.838 10.585 17.695-.559 25.77-11.143 8.074-99.712 60.203-109.31 64.73-9.6 4.526-21.952-1.632-22.352-13.088-.4-11.456 0-121.106 0-130.873zm13.437 8.48c0 2.494-.076 112.852-.216 115.122-.23 3.723 3 7.464 7.5 5.245 4.5-2.22 97.522-57.704 101.216-59.141 3.695-1.438 3.45-5.1 0-7.388C177.488 121.952 82.77 67.76 80 65.38c-2.77-2.381-7.563 1.193-7.563 5.023z" stroke="#fff" fill="#fff" fill-rule="evenodd"></path>
              </svg>
            </div>
          </div>
        {% endif %}
        {% if section.settings.img != blank and section.settings.video_url == blank %}
          <div class="about_vdimg_img">
            {% if section.settings.img != blank %}
              <img src="{{ section.settings.img | img_url:'master' }}" alt="{{ section.settings.img.alt }}" loading="lazy" {% if section.settings.img_mob != blank %} class="deck_img"{% endif %}>
            {% endif %}
            {% if section.settings.img_mob != blank %}
              <img src="{{ section.settings.img_mob | img_url:'master' }}" alt="{{ section.settings.img_mob.alt }}" class="mob_img" loading="lazy">
            {% endif %}
          </div>
        {% endif %}
      </div>
      <div class="about_vdimg_text">
        <div class="about_vdimg_text_row">
          {% if section.settings.title != blank %}
            <h2 class="main_title">{{ section.settings.title }}</h2>
          {% endif %}
          {% if section.settings.dis != blank %}
             <div class="product_dis_row">
               <div class="product_dis_in">
                {{ section.settings.dis }}
                <span id="pro_read_dis">Read More +</span>
              </div>
            </div>
          {% endif %}
        </div>
        {% if section.settings.showLogo %}
          <div class="about_vdimg_logo">
            <span>
              <svg width="38" height="24" viewBox="0 0 38 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M19.2705 7.80614L23.784 2.69731L27.5762 2.5469L37.495 0.526426L37.5 3.53457L35.6615 4.61751L33.0265 9.29517L26.5393 12.2632L30.8324 16.3794L29.7353 21.0671H24.3551L20.2624 14.6447L19.546 22.8218L18.9048 24L18.464 22.8519L17.5573 14.6346L13.8953 21.0671L8.49513 21.1322L7.04739 15.9682L11.3856 12.2632L5.0486 9.29517L2.47373 4.61751L0.675332 3.53959L0.5 0L10.018 2.70733L14.0456 2.77251L18.6042 7.81617L18.9349 7.67078L19.2705 7.80614Z" fill="#CA003D"/>
              </svg>
            </span>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>





{% schema %}
  {
    "name": "About Image Video",
    "settings": [
      {
        "type": "color",
        "id":"bgColor",
        "label":"Select Background Color",
        "default":"#fff"
      },
      {
        "type": "checkbox",
        "id":"marginBottom",
        "label":"Spacing Bottom",
        "default":false
      },
      {
        "type": "checkbox",
        "id":"container",
        "label":"Container",
        "default":false
      },
      {
        "type": "checkbox",
        "id":"showLogo",
        "label":"Show Logo",
        "default":false
      },
      {
        "type": "select",
        "label":"Image Alignment",
        "id":"aligment",
        "options": [
          {
            "label": "Left",
            "value": "left"
          },
          {
            "label": "Right",
            "value": "right"
          }
        ],
        "default":"left"
      },
      {
        "type":"image_picker",
        "id":"img",
        "label":"Select Image"
      },
      {
        "type":"image_picker",
        "id":"img_mob",
        "label":"Select Mobile Image"
      },
      {
        "type": "text",
        "id":"video_url",
        "label":"Vide URL"
      },
      {
        "type": "html",
        "id":"title",
        "label":"Title"
      },
      {
        "type": "richtext",
        "id":"dis",
        "label":"Description"
      }
    ],

    "presets": [
      {
        "name":"About Image Video"
      }
    ]
  }
{% endschema %}

<script>
document.addEventListener("DOMContentLoaded", function () {
  if (/iPad|iPhone|iPod/.test(navigator.userAgent) && !window.MSStream) {
      const videos = document.querySelectorAll('video');
      videos.forEach(video => {
          video.setAttribute('playsinline', '');
      });
  }
  document.querySelectorAll(".video_sound_button").forEach((button) => {
    button.addEventListener("click", function () {
      this.classList.toggle("active");
      const videoLoopCol = this.closest(".video_loop_col");
      const video = videoLoopCol.querySelector("video");
      video.muted = !video.muted;
    });
  });

  document.querySelectorAll(".video_play_push_button").forEach((button) => {
    button.addEventListener("click", function () {
      this.classList.toggle("active");
      const videoLoopCol = this.closest(".video_loop_col");
      const video = videoLoopCol.querySelector("video");
      if (video.paused) {
        video.play();
      } else {
        video.pause();
      }
    });
  });
});

</script>